In [1]:
import json
import pandas as pd
import numpy as np

In [2]:
all_sheets = pd.read_excel('Raw Data/SCB_act_dbie.xlsx', sheet_name=None)
ms = pd.read_excel('Raw Data/money_stock.xlsx')
cred_deploy = pd.read_excel('Raw Data/cred_deploy.xlsx')
print("Sheet Names:", all_sheets.keys())

/opt/anaconda3/envs/Py_3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Sheet Names: dict_keys(['Major Balance Sheet Items', 'Capital Adequacy', 'Assest Quality', 'Profitability', 'Performance Indicators', 'Major Sectoral', 'Priority-Non_Priority Break-up', 'Infrastructure Financing Items'])

/opt/anaconda3/envs/Py_3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [3]:
all_sheets_2 = pd.read_excel('Raw Data/SCB_act_dbie_2.xlsx', sheet_name=None)
cred_deploy_2 = pd.read_excel('Raw Data/cred_deploy_2.xlsx')
print("Sheet Names:", all_sheets_2.keys())

/opt/anaconda3/envs/Py_3/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Sheet Names: dict_keys(['Major Balance Sheet Items', 'Capital Adequacy', 'Assest Quality', 'Profitability', 'Performance Indicators', 'Major Sectoral', 'Priority-Non_Priority Break-up', 'Infrastructure Financing Items'])

In [4]:
Foreign_Banks = ["AB BANK LIMITED", "ABU DHABI COMMERCIAL BANK PJSC" ,"AMERICAN EXPRESS BANKING CORP.", "AUSTRALIA AND NEW ZEALAND BANKING GROUP LIMITED" ,"BANK OF AMERICA , NATIONAL ASSOCIATION" ,"BANK OF BAHRAIN & KUWAIT B.S.C." ,"BANK OF CEYLON", "BANK OF NOVA SCOTIA", "BARCLAYS BANK PLC" ,"BNP PARIBAS" ,"CITIBANK N.A" ,"COMMONWEALTH BANK OF AUSTRALIA", "COOPERATIEVE RABOBANK U.A." ,"CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK", "CREDIT SUISSE AG", "CTBC BANK CO., LTD." ,"DBS BANK INDIA LTD.", "DEUTSCHE BANK AG" ,"FIRSTRAND BANK LTD" ,"HONGKONG AND SHANGHAI BANKING CORPN.LTD." ,"HSBC BANK OMAN S.A.O.G." ,"INDUSTRIAL AND COMMERCIAL BANK OF CHINA", "JPMORGAN CHASE BANK NATIONAL ASSOCIATION", "JSC VTB BANK", "KBC BANK NV" ,"KRUNG THAI BANK PUBLIC COMPANY LIMITED" ,"MASHREQ BANK PSC", "MIZUHO BANK LTD", "MUFG Bank Ltd", "NATIONAL AUSTRALIA BANK", "NatWest Markets Plc", "SBERBANK" ,"SBM BANK (INDIA) LTD." ,"SHINHAN BANK" ,"SOCIETE GENERALE" ,"SONALI BANK", "STANDARD CHARTERED BANK" ,"UBS AG" ,"UNITED OVERSEAS BANK LTD" ,"WOORI BANK", "SUMITOMO MITSUI BANKING CORPORATION", "WESTPAC BANKING CORPORATION", "PT BANK MAYBANK INDONESIA TBK", "DOHA BANK Q.P.S.C", "INDUSTRIAL BANK OF KOREA", "FIRST ABU DHABI BANK PJSC", "KEB HANA BANK", "Qatar National Bank (Q.P.S.C.)", "EMIRATES NBD BANK (P.J.S.C.)", "BANK OF CHINA LIMITED", "KOOKMIN BANK"]
Private_Banks = ["AXIS BANK LIMITED", "CITY UNION BANK LIMITED", "CSB BANK LIMITED", "DCB BANK LIMITED", "FEDERAL BANK LTD", "HDFC BANK LTD.", "ICICI BANK LIMITED", "IDBI BANK LIMITED", "INDUSIND BANK LTD", "ING VYSYA BANK LTD", "JAMMU & KASHMIR BANK LTD", "KARNATAKA BANK LTD" ,"KARUR VYSYA BANK LTD" ,"KOTAK MAHINDRA BANK LTD.", "LAKSHMI VILAS BANK LTD" ,"NAINITAL BANK LTD", "RBL BANK LIMITED", "SOUTH INDIAN BANK LTD", "TAMILNAD MERCANTILE BANK LTD", "THE DHANALAKSHMI BANK LTD" ,"YES BANK LTD.", "IDFC FIRST BANK LIMITED", "BANDHAN BANK LIMITED"]
Public_Banks = ["ALLAHABAD BANK", "ANDHRA BANK", "BANK OF BARODA", "BANK OF INDIA", "BANK OF MAHARASHTRA", "CANARA BANK", "CENTRAL BANK OF INDIA", "CORPORATION BANK", "DENA BANK", "IDBI BANK LIMITED", "INDIAN BANK", "INDIAN OVERSEAS BANK", "ORIENTAL BANK OF COMMERCE", "PUNJAB AND SIND BANK", "PUNJAB NATIONAL BANK", "STATE BANK OF BIKANER AND JAIPUR", "STATE BANK OF HYDERABAD", "STATE BANK OF INDIA", "STATE BANK OF MYSORE", "STATE BANK OF PATIALA", "STATE BANK OF TRAVANCORE", "SYNDICATE BANK", "UCO BANK", "UNION BANK OF INDIA", "UNITED BANK OF INDIA", "VIJAYA BANK", "BHARATIYA MAHILA BANK LTD."]
Small_Finance = ["CAPITAL SMALL FINANCE BANK LIMITED", "EQUITAS SMALL FINANCE BANK LIMITED", "ESAF SMALL FINANCE BANK LIMITED", "FINCARE SMALL FINANCE BANK LIMITED", "SURYODAY SMALL FINANCE BANK LIMITED", "UJJIVAN SMALL FINANCE BANK LIMITED", "AU SMALL FINANCE BANK LIMITED", "NORTH EAST SMALL FINANCE BANK LIMITED", "UTKARSH SMALL FINANCE BANK LIMITED", "JANA SMALL FINANCE BANK LIMITED"]
All_Banks = Foreign_Banks + Private_Banks + Public_Banks + Small_Finance
print(f"{len(Foreign_Banks)}, {len(Private_Banks)} , {len(Public_Banks)}, {len(Small_Finance)}, {len(All_Banks)}")

51, 23 , 27, 10, 111

In [5]:
def clean_dbie(df, x):
    if x==2: # 2 for how the excel sheet column names are formatted, using two rows for one column name
        df_1 = df.iloc[~df.index.isin([0, 1, len(df)-2, len(df) - 1])]
        df_1.pop('Unnamed: 0')
        row_index_to_transform = 0
        row_to_transform = df_1.iloc[row_index_to_transform]
        row_filled = row_to_transform.ffill()
        transformed_row = pd.DataFrame(row_filled).T
        df_2 = pd.concat([transformed_row, df_1.drop(2)], ignore_index=True)   
        new_columns = [f"{df_2.iloc[0, i]}_{df_2.iloc[1, i]}" for i in range(0,df_2.shape[1])]
        df_2.columns = new_columns
        df_3 = df_2.iloc[~df_2.index.isin([0, 1])]
        new_names = ['Quarter', 'Banks']
        df_3.columns = new_names + list(df_3.columns[2:])
        df_3.reset_index(inplace=True)
        df_3 = df_3.drop("index", axis = 1)
        df_3.at[df_3.shape[0] - 1, 'Quarter'] = np.nan
        column_to_transform = 'Quarter'
        col_to_transform = df_3[column_to_transform]
        col_to_transform_filled = col_to_transform.ffill()
        transformed_col = pd.DataFrame(col_to_transform_filled)
        df_4 = pd.concat([transformed_col, df_3.drop(columns=column_to_transform)], axis=1)
        df_4['Quarter'] = df_4['Quarter'].dt.to_period(freq='Q')
        values_to_remove = ['JSC VTB BANK', 'Commercial Banks', 'Foreign Bank Group', 'Private Sector Banks', 'Public Sector Banks', 'Small Finance Bank Group-Scheduled', 'All Scheduled Commercial Banks']
        mask = df_4.isin(values_to_remove).any(axis=1)
        df_5 = df_4[~mask]
        df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
        df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
        df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
        df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
        df_5.reset_index(inplace=True)
        df_5 = df_5.drop("index", axis = 1)
        return df_5
    elif x == 3: # 3 for how the excel sheet column names are formatted, using two rows for one column name
        df_1 = df.iloc[~df.index.isin([0, 1, 2, len(df)-2, len(df) - 1])]
        df_1.pop('Unnamed: 0')
        row_index_to_transform = 0
        row_to_transform = df_1.iloc[row_index_to_transform]
        row_filled = row_to_transform.ffill()
        transformed_row = pd.DataFrame(row_filled).T
        df_2 = pd.concat([transformed_row, df_1.drop(3)], ignore_index=True)   
        new_columns = [f"{df_2.iloc[0, i]}_{df_2.iloc[1, i]}" for i in range(0,df_2.shape[1])]
        df_2.columns = new_columns
        df_3 = df_2.iloc[~df_2.index.isin([0, 1])]
        new_names = ['Quarter', 'Banks']
        df_3.columns = new_names + list(df_3.columns[2:])
        df_3.reset_index(inplace=True)
        df_3 = df_3.drop("index", axis = 1)
        df_3.at[df_3.shape[0] - 1, 'Quarter'] = np.nan
        column_to_transform = 'Quarter'
        col_to_transform = df_3[column_to_transform]
        col_to_transform_filled = col_to_transform.ffill()
        transformed_col = pd.DataFrame(col_to_transform_filled)
        df_4 = pd.concat([transformed_col, df_3.drop(columns=column_to_transform)], axis=1)
        df_4['Quarter'] = df_4['Quarter'].dt.to_period(freq='Q')
        values_to_remove = ['JSC VTB BANK', 'Commercial Banks', 'Foreign Bank Group', 'Private Sector Banks', 'Public Sector Banks', 'Small Finance Bank Group-Scheduled', 'All Scheduled Commercial Banks']
        mask = df_4.isin(values_to_remove).any(axis=1)
        df_5 = df_4[~mask]
        df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
        df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
        df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
        df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
        df_5.reset_index(inplace=True)
        df_5 = df_5.drop("index", axis = 1)
        return df_5
    elif x == 'ms': # for money stock data
        df_1 = df.iloc[~df.index.isin([0, 1, 2, 3, len(df)-2, len(df) - 1])]
        df_1.pop('Unnamed: 0')
        row_index_to_transform = 0
        row_to_transform = df_1.iloc[row_index_to_transform]
        row_filled = row_to_transform.ffill()
        transformed_row = pd.DataFrame(row_filled).T
        df_2 = pd.concat([transformed_row, df_1.drop(4)], ignore_index=True)   
        new_columns = [f"{df_2.iloc[0, i]}_{df_2.iloc[1, i]}" for i in range(0,df_2.shape[1])]
        df_2.columns = new_columns
        df_3 = df_2.iloc[~df_2.index.isin([0, 1])]
        new_names = ['Date', 'Banks']
        df_3.columns = new_names + list(df_3.columns[2:])
        df_3.reset_index(inplace=True)
        df_3 = df_3.drop("index", axis = 1)
        return df_3
    else: 
        return print("Error wrong x")

In [6]:
balance_sheet = clean_dbie(all_sheets['Major Balance Sheet Items'], 2)
capital_adequacy = clean_dbie(all_sheets['Capital Adequacy'], 2)
asset_quality = clean_dbie(all_sheets['Assest Quality'], 2)
profitability = clean_dbie(all_sheets['Profitability'], 3)
performance_indicators = clean_dbie(all_sheets['Performance Indicators'], 2)
major_sectoral = clean_dbie(all_sheets['Major Sectoral'], 3)
priority_break_up = clean_dbie(all_sheets['Priority-Non_Priority Break-up'], 3)
infrastructure = clean_dbie(all_sheets['Infrastructure Financing Items'], 2)
money_stock = clean_dbie(ms, 'ms')

/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)

In [7]:
balance_sheet_2 = clean_dbie(all_sheets_2['Major Balance Sheet Items'], 2)
capital_adequacy_2 = clean_dbie(all_sheets_2['Capital Adequacy'], 2)
asset_quality_2 = clean_dbie(all_sheets_2['Assest Quality'], 2)
profitability_2 = clean_dbie(all_sheets_2['Profitability'], 3)
performance_indicators_2 = clean_dbie(all_sheets_2['Performance Indicators'], 2)
major_sectoral_2 = clean_dbie(all_sheets_2['Major Sectoral'], 3)
priority_break_up_2 = clean_dbie(all_sheets_2['Priority-Non_Priority Break-up'], 3)
infrastructure_2 = clean_dbie(all_sheets_2['Infrastructure Financing Items'], 2)

/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:61: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Foreign_Dummy'] = df_5['Banks'].isin(Foreign_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Private_Dummy'] = df_5['Banks'].isin(Private_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Public_Dummy'] = df_5['Banks'].isin(Public_Banks).astype(int)
/var/folders/5b/jc4253hj4rl3y0jlxy2y3trm0000gn/T/ipykernel_37255/843860718.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_5['Small_Finance_Dummy'] = df_5['Banks'].isin(Small_Finance).astype(int)

In [8]:
balance_sheet_cov = pd.concat([balance_sheet, balance_sheet_2])
capital_adequacy_cov = pd.concat([capital_adequacy, capital_adequacy_2])
asset_quality_cov = pd.concat([asset_quality, asset_quality_2])
profitability_cov = pd.concat([profitability, profitability_2])
performance_indicators_cov = pd.concat([performance_indicators, performance_indicators_2])
major_sectoral_cov = pd.concat([major_sectoral, major_sectoral_2])
priority_break_up_cov = pd.concat([priority_break_up, priority_break_up_2])
infrastructure_cov = pd.concat([infrastructure, infrastructure_2])

In [9]:
cred_deploy
df_1 = cred_deploy.iloc[~cred_deploy.index.isin([0, 1, 2, 3, 4, 49, 50, 51, 52])]
df_1.pop('Unnamed: 0')
new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
df_1.columns = new_columns
col = df_1.columns
col_2 = col[2:]
col_3 = list(col_2)
col_3.insert(0, 'Serial No')
col_3.insert(1, 'Industry')
col_3
df_1.columns = col_3
df_2 = df_1.iloc[~df_1.index.isin([5])]
df_2.at[47, 'Serial No'] = '2.18.7'
cred_deploy = df_2

In [10]:
df_3 = cred_deploy.T
new_columns = [f"{df_3.iloc[1,i]}({df_3.iloc[0, i]})" for i in range(0,df_3.shape[1])]
df_3.columns = new_columns
df_3 = df_3.iloc[~df_3.index.isin(['Serial No', 'Industry'])]
df_3 = df_3.reset_index()
cred_deploy = df_3

In [11]:
cred_deploy

,index,Industries (2.1 to 2.19)(2 ),Mining & Quarrying (incl. Coal)(2.1 ),Food Processing(2.2 ),Sugar(2.2.1 ),Edible Oils & Vanaspati(2.2.2 ),Tea(2.2.3 ),Others(2.2.4 ),Beverage & Tobacco(2.3 ),Textiles(2.4 ),...,Construction(2.17 ),Infrastructure(2.18 ),Power(2.18.1 ),Telecommunications(2.18.2 ),Roads(2.18.3 ),Airports(2.18.4 ),Ports(2.18.5 ),Railways(2.18.6 ),Other Infrastructure(2.18.7),Other Industries(2.19 )
0,"June, 29 2012",NaN,334850000000,927360000000,297930000000,124530000000,22160000000,482740000000,146490000000,1613790000000,...,497510000000,6484470000000,3419000000000,976180000000,1158570000000,NaN,NaN,NaN,930720000000,1980710000000
1,"September, 21 2012",NaN,322150000000,959480000000,273510000000,130870000000,26530000000,528580000000,152220000000,1633570000000,...,507270000000,6585030000000,3644760000000,868840000000,1228790000000,NaN,NaN,NaN,842640000000,1859300000000
2,"December, 28 2012",NaN,350230000000,1046100000000,265150000000,159660000000,25870000000,595420000000,159550000000,1706810000000,...,490660000000,6980560000000,3864600000000,931200000000,1265110000000,NaN,NaN,NaN,919640000000,1850020000000
3,"March, 22 2013",NaN,346390000000,1173680000000,329760000000,170530000000,25820000000,647570000000,165110000000,1835360000000,...,521660000000,7297210000000,4158490000000,877650000000,1313120000000,NaN,NaN,NaN,947960000000,1809680000000
4,"June, 28 2013",NaN,317220700000,1231164000000,337914100000,182700700000,27309700000,683239500000,156147600000,1837244200000,...,560356300000,7695997100000,4427325800000,889583700000,1411222200000,NaN,NaN,NaN,967865400000,1770645600000
5,"September, 20 2013",NaN,328890000000,1201530000000,317830000000,176150000000,33290000000,674270000000,159000000000,1855500000000,...,565260000000,7931970000000,4591210000000,873620000000,1437020000000,NaN,NaN,NaN,1030120000000,1841650000000
6,"December, 27 2013",NaN,352150000000,1350330000000,296960000000,219200000000,32550000000,801630000000,163640000000,1927910000000,...,577240000000,8037150000000,4683530000000,856260000000,1510660000000,NaN,NaN,NaN,986690000000,1802620000000
7,"March, 21 2014",25164840000000,358450000000,1462540000000,344660000000,212930000000,32410000000,872530000000,182860000000,2022130000000,...,625710000000,8363560000000,4869020000000,882040000000,1578600000000,NaN,NaN,NaN,1033900000000,1880600000000
8,"June, 27 2014",NaN,373540000000,1487320000000,356340000000,207250000000,29000000000,894730000000,182590000000,1979370000000,...,705020000000,8553630000000,5065570000000,827950000000,1619460000000,NaN,NaN,NaN,1040650000000,1784970000000
9,"September, 19 2014",NaN,385080000000,1408610000000,338700000000,176570000000,31060000000,862270000000,192110000000,1933670000000,...,724540000000,8713090000000,5178410000000,851460000000,1639630000000,NaN,NaN,NaN,1043580000000,1752980000000
10,"December, 26 2014",NaN,372090000000,1522570000000,337250000000,205640000000,32240000000,947440000000,186620000000,1987660000000,...,738520000000,8956280000000,5373550000000,864640000000,1668460000000,NaN,NaN,NaN,1049630000000,1770140000000
11,"March, 20 2015",26576290000000,359510000000,1714950000000,414110000000,210640000000,31950000000,1058240000000,186480000000,2019190000000,...,743030000000,9245310000000,5575670000000,918900000000,1686910000000,NaN,NaN,NaN,1063830000000,1839340000000
12,"June, 26 2015",NaN,358140000000,1608770000000,395230000000,194510000000,30070000000,988960000000,182610000000,1981580000000,...,723530000000,9339240000000,5730510000000,892470000000,1675250000000,NaN,NaN,NaN,1041020000000,1800040000000
13,"September, 18 2015",NaN,338590000000,1448340000000,352220000000,175890000000,30640000000,889590000000,175830000000,1953390000000,...,730940000000,9472510000000,5803930000000,896830000000,1714510000000,NaN,NaN,NaN,1057240000000,1789600000000
14,"December, 25 2015",NaN,364830000000,1488740000000,349770000000,192960000000,36160000000,909850000000,180130000000,2023290000000,...,741870000000,9705670000000,5915040000000,917650000000,1792960000000,NaN,NaN,NaN,1080010000000,1917130000000
15,"March, 18 2016",27306790000000,390210000000,1500880000000,399570000000,199160000000,35970000000,866170000000,181460000000,2057960000000,...,745380000000,9648110000000,5798750000000,912820000000,1775180000000,NaN,NaN,NaN,1161360000000,1945360000000
16,"June, 24 2016",NaN,338480000000,1459910000000,371570000000,193990000000,33440000000,860910000000,166130000000,1991820000000,...,755350000000,9140260000000,5287980000000,910120000000,1840470000000,NaN,NaN,NaN,1101690000000,1884140000000
17,"September, 30 2016",NaN,341790000000,1376730000000,316860000000,168310000000,39940000000,851610000000,171050000000,1945510000000,...,788290000000,9038680000000,5299670000000,769570000000,1836760000000,NaN,NaN,NaN,1132670000000,2108860000000
18,"December, 23 2016",NaN,341520000000,1288990000000,285100000000,166660000000,36170000000,801070000000,171120000000,1865770000000,...,790860000000,8962210000000,5277850000000,799480000000,1797990000000,NaN,NaN,NaN,1086900000000,1924850000000
19,"March, 31 2017",26798310000000,345030000000,1455230000000,327000000000,183610000000,35400000000,909220000000,172580000000,1962950000000,...,822270000000,9063940000000,5253930000000,850660000000,1799720000000,NaN,NaN,NaN,1159640000000,1972850000000
20,"June, 23 2017",NaN,326690000000,1449870000000,296810000000,183360000000,39490000000,930220000000,165940000000,1927160000000,...,848950000000,8914670000000,5202950000000,827090000000,1721000000000,NaN,NaN,NaN,1163620000000,1980600000000
21,"September, 29 2017",NaN,328690000000,1384600000000,280470000000,178790000000,41970000000,883370000000,163350000000,1954250000000,...,833530000000,8949470000000,5262180000000,871260000000,1716560000000,NaN,NaN,NaN,1099470000000,2039900000000
22,"December, 22 2017",NaN,333570000000,1438850000000,269830000000,194060000000,47830000000,927130000000,169740000000,2007100000000,...,861590000000,8897920000000,5199990000000,854370000000,1703330000000,NaN,NaN,NaN,1140240000000,1952480000000
23,"March, 30 2018",26992680000000,413140000000,1553620000000,289530000000,211170000000,44530000000,1008390000000,155760000000,2099020000000,...,900740000000,8909350000000,5196180000000,845600000000,1665400000000,NaN,NaN,NaN,1202170000000,1890160000000
24,"June, 22 2018",NaN,399230000000,1497600000000,276000000000,211850000000,48820000000,960930000000,139960000000,2033100000000,...,910940000000,8911850000000,5139780000000,883370000000,1623610000000,NaN,NaN,NaN,1265090000000,1882380000000
25,"September, 28 2018",NaN,426760000000,1415130000000,250950000000,208380000000,51920000000,903880000000,136610000000,1980410000000,...,905830000000,9366840000000,5317600000000,919460000000,1744610000000,NaN,NaN,NaN,1385170000000,2003100000000
26,"December, 21 2018",NaN,416640000000,1478400000000,248750000000,213950000000,52940000000,962760000000,142140000000,1998880000000,...,928380000000,9719240000000,5476180000000,906030000000,1869830000000,NaN,NaN,NaN,1467200000000,1946670000000
27,"March, 29 2019",28375283300000,416814800000,1473129400000,294719900000,191730000000,36030000000,950649500000,146383100000,2009392800000,...,1119373200000,10441991600000,5698572800000,1105450800000,1762537200000,44236800000,94788400000,97038700000,1639366900000,1614680600000
28,"June, 21 2019",27802291200000,405027700000,1409360600000,295193100000,175766400000,36680500000,901720600000,142311900000,1901293900000,...,1082180100000,10352594500000,5680481400000,1044583400000,1738381400000,30995300000,89035100000,94614400000,1674503500000,1866450900000
29,"September, 27 2019",27309431800000,408565400000,1318317500000,274712500000,152918400000,38722500000,851964100000,149480600000,1837597000000,...,1125429300000,10066756000000,5622382800000,1119914900000,1734194800000,38547800000,102257500000,96734700000,1352723500000,1715837200000
30,"December, 20 2019",28484161100000,444589700000,1331519800000,250098600000,170414900000,48924700000,862081600000,165617600000,1867525200000,...,1263570700000,10629041000000,5780107500000,1361139200000,1795395100000,39533300000,132134500000,100923800000,1419807600000,2089819700000

In [12]:
cred_deploy_2
df_1 = cred_deploy_2.iloc[~cred_deploy_2.index.isin([0,1,2,3,4,50,51,52,53])]
df_1.pop('Unnamed: 0')
new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
df_1.columns = new_columns
col = df_1.columns
col_2 = col[2:]
col_3 = list(col_2)
col_3.insert(0, 'Serial No')
col_3.insert(1, 'Industry')
col_3
df_1.columns = col_3
df_2 = df_1.iloc[~df_1.index.isin([5])]
cred_deploy_2 = df_2
#cred_deploy_2

In [13]:
df_3 = cred_deploy_2.T
new_columns = [f"{df_3.iloc[1,i]}({df_3.iloc[0, i]} )" for i in range(0,df_3.shape[1])]
df_3.columns = new_columns
df_3 = df_3.iloc[~df_3.index.isin(['Serial No', 'Industry'])]
df_3 = df_3.reset_index()
cred_deploy_2 = df_3
cred_deploy_2.pop('nan(nan )')
cols = cred_deploy.columns
cred_deploy_2.columns = cols
cred_deploy_2

,index,Industries (2.1 to 2.19)(2 ),Mining & Quarrying (incl. Coal)(2.1 ),Food Processing(2.2 ),Sugar(2.2.1 ),Edible Oils & Vanaspati(2.2.2 ),Tea(2.2.3 ),Others(2.2.4 ),Beverage & Tobacco(2.3 ),Textiles(2.4 ),...,Construction(2.17 ),Infrastructure(2.18 ),Power(2.18.1 ),Telecommunications(2.18.2 ),Roads(2.18.3 ),Airports(2.18.4 ),Ports(2.18.5 ),Railways(2.18.6 ),Other Infrastructure(2.18.7),Other Industries(2.19 )
0,"March, 27 2020",2946851.25,45406.79,144268.84,27563.45,16521.68,4929.18,95254.53,18025.49,193452.92,...,127837.59,1083656.43,577326.55,147176.4,181530.8,5143.87,12745.18,10884.73,148848.9,223620.5
1,"June, 19 2020",2911362.69,42253.49,149015.3,26488.3,15629.29,4634.19,102263.52,16533.28,190784.86,...,127892.76,1101626.86,586633.82,150688.11,182055.92,4802.74,14078.11,12174.22,151193.94,205511.88
2,"September, 25 2020",2831679.89,40193.13,139617.66,21317.08,16223.47,5123.63,96953.48,16399.04,189635.98,...,128783.5,1059541.12,564767.64,122346.36,198406.07,5453.63,11755.45,13278.85,143533.12,201124.66
3,"December, 18 2020",2822924.36,42295.59,157785.66,27166.33,17239.32,5278.93,108101.08,15952.44,193322.58,...,127239.73,1043335.55,564109.36,104087.63,202368.61,6478.51,10927.88,12370.93,142992.63,201002.13
4,"March, 26 2021",2934688.691812,43498.190103,156556.826727,26490.400381,17998.84563,5059.66,107007.920716,17804.609372,204971.775735,...,119670.341604,1095467.252598,571028.299087,114960.820779,226299.436161,8573.41,10152.8,12471.11,151981.37657,229431.722417
5,"June, 18 2021",2963016.767421,46552.8493,157335.409076,24002.679447,17437.109093,5389.78,110505.840536,17381.309306,213947.095669,...,124144.353364,1115392.355526,574741.017201,117646.35,238663.130724,9724.12,10389.69,12610.97,151617.077601,206514.197401
6,"September, 24 2021",2953548.022651,48985.889006,151709.299469,19156.628098,16977.779758,5710.56,109864.331613,16837.415474,210523.275347,...,122209.534756,1105033.908499,578801.107737,113414.806633,248586.773064,7593.54,11371.69,13004.32,132261.671065,219683.873383
7,"December, 31 2021",3106358.322852,50962.555427,170429.738847,21427.81473,18063.6129,6077.71,124860.601217,17655.44622,224449.750184,...,120142.261055,1148724.801528,600476.84858,109350.417652,255328.148632,7624.29,9453.43,10193.89,156297.776664,249794.36022
8,"March, 25 2022",3235278.907314,51129.797441,176658.02019,26370.365018,18434.094944,5818.129499,126035.43073,18674.63327,231700.755866,...,122454.776842,1205737.164518,615806.43019,130614.777591,273197.384462,6707.98,8897.95,10604.97,159907.672275,256126.893877
9,"June, 17 2022",3248920.985505,50514.627224,179398.103837,24157.393644,18559.856727,6459.828708,130221.024758,17912.841907,226293.301606,...,123010.935846,1222190.250635,624747.780735,132251.103169,281206.062002,6870.16,7964.87,11588.34,157561.934729,251550.947308
10,"September, 23 2022",3323913.825699,52283.741184,163402.843407,19019.083904,16087.328465,6213.84876,122082.582278,18258.090709,221754.347446,...,124949.57462,1225546.297558,625072.517349,131852.623019,281744.927191,8647.96,8574.85,11911.46,157741.959999,248254.540254
11,"December, 30 2022",3375008.731197,55447.516653,177931.868276,17943.368336,18962.37252,5491.456799,135534.670621,20617.635984,226287.168174,...,121870.880108,1218260.607519,622013.637236,115172.609307,288178.665535,9463.8,7853.31,11301.31,164277.27544,235375.152226
12,"March, 24 2023",3416353.447978,60978.16672,185709.063928,22934.153388,19849.908062,5219.216407,137705.786072,23975.263777,236373.625697,...,127186.104703,1212237.593332,623918.124645,111599.79,288216.090457,9578.61,8197.39,11255.2,159472.38823,244780.563244
13,"June, 30 2023",3507598.928705,55052.124831,190175.08187,22238.363237,19813.064172,5599.646269,142524.008193,23107.21992,246352.89035,...,134548.405989,1244068.400104,628642.517713,127178.12,297566.527209,7659.12,7508.67,12161.97,163351.475183,271090.717193
14,"September, 22 2023",3559935.403553,54163.188063,176417.608085,16593.055037,18119.173959,5816.160182,135889.218908,26309.048571,249565.953691,...,129979.941171,1263185.00972,623559.144972,138461.391813,306438.540415,8028.85,7953.44,12747.13,165996.512519,276463.043741

In [14]:
cred_deploy_cov = pd.concat([cred_deploy, cred_deploy_2])

In [15]:
# # Uncomment to write files to csv
# balance_sheet.to_csv('Clean Data/balance_sheet.csv')
# capital_adequacy.to_csv('Clean Data/capital_adequacy.csv')
# asset_quality.to_csv('Clean Data/asset_quality.csv')
# profitability.to_csv('Clean Data/profitability.csv')
# performance_indicators.to_csv('Clean Data/performance_indicators.csv')
# major_sectoral.to_csv('Clean Data/major_sectoral.csv')
# priority_break_up.to_csv('Clean Data/priority_break_up.csv')
# infrastructure.to_csv('Clean Data/infrastructure.csv')
# money_stock.to_csv('Clean Data/money_stock.csv')
# cred_deploy.to_csv('Clean Data/cred_deploy.csv')

In [ ]:
# # Uncomment to write files to csv
# balance_sheet_cov.to_csv('Clean Data/balance_sheet_cov.csv')
# capital_adequacy_cov.to_csv('Clean Data/capital_adequacy_cov.csv')
# asset_quality_cov.to_csv('Clean Data/asset_quality_cov.csv')
# profitability_cov.to_csv('Clean Data/profitability_cov.csv')
# performance_indicators_cov.to_csv('Clean Data/performance_indicators_cov.csv')
# major_sectoral_cov.to_csv('Clean Data/major_sectoral_cov.csv')
# priority_break_up_cov.to_csv('Clean Data/priority_break_up_cov.csv')
# infrastructure_cov.to_csv('Clean Data/infrastructure_cov.csv')
# cred_deploy_cov.to_csv('Clean Data/cred_deploy_cov.csv')

In [18]:
with open('Raw Data/banknames.json', 'r') as file_2:
    data_2 = json.load(file_2)

In [19]:
bank_branch_code = pd.DataFrame([data_2])
bank_branch_code = bank_branch_code.T
bank_branch_code = bank_branch_code.reset_index()
bank_branch_code = bank_branch_code.rename(columns = { 'index' : 'Code', 0 : 'bank_name'})
branch_name_list = bank_branch_code['bank_name'].to_list()
branch_name_list_cap = [x.upper() for x in branch_name_list]
branch_name_list_cap

['ABHYUDAYA COOPERATIVE BANK',
 'ABU DHABI COMMERCIAL BANK',
 'AHMEDABAD MERCANTILE COOPERATIVE BANK',
 'AKOLA JANATA COMMERCIAL COOPERATIVE BANK',
 'ALLAHABAD BANK',
 'ALMORA URBAN CO-OPERATIVE BANK LTD',
 'ANDHRA BANK',
 'ANDHRA PRAGATHI GRAMEENA BANK',
 'APNA SAHAKARI BANK LTD',
 'AUSTRALIA AND NEW ZEALAND BANKING GROUP LTD',
 'AXIS BANK',
 'BANDHAN BANK LIMITED',
 'PT BANK MAYBANK INDONESIA TBK',
 'BANK OF AMERICA',
 'BANK OF BAHREIN AND KUWAIT',
 'BANK OF BARODA',
 'BANK OF CEYLON',
 'BANK OF INDIA',
 'BANK OF MAHARASHTRA',
 'BANK OF TOKYO MITSUBISHI LTD',
 'BARCLAYS BANK',
 'BASSEIN CATHOLIC CO-OP BANK LTD',
 'BHARAT COOPERATIVE BANK MUMBAI LTD',
 'BHARATIYA MAHILA BANK LTD',
 'BNP PARIBAS BANK',
 'CANARA BANK',
 'CAPITAL LOCAL AREA BANK LTD',
 'CATHOLIC SYRIAN BANK',
 'CENTRAL BANK OF INDIA',
 'CHINATRUST COMMERCIAL BANK',
 'CITI BANK',
 'CITIZEN CREDIT COOPERATIVE BANK',
 'CITY UNION BANK LTD',
 'COMMONWEALTH BANK OF AUSTRALIA',
 'CORPORATION BANK',
 'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK',
 'CREDIT SUISSE AG',
 'DEVELOPMENT BANK OF SINGAPORE DBS',
 'DCB BANK LTD',
 'DEOGIRI NAGARI SAHAKARI BANK LTD. AURANGABAD',
 'DENA BANK',
 'DICGC',
 'DEUTSCHE BANK',
 'DHANLAXMI BANK LTD',
 'DOHA BANK QSC',
 'DOMBIVLI NAGARI SAHAKARI BANK LTD',
 'EQUITAS SMALL FINANCE BANK LIMITED',
 'EXPORT IMPORT BANK OF INDIA',
 'FEDERAL BANK LTD',
 'FIRSTRAND BANK LTD',
 'G P PARSIK BANK',
 'GURGAON GRAMIN BANK LTD',
 'HDFC BANK LTD',
 'HIMACHAL PRADESH STATE CO-OPERATIVE BANK LTD',
 'HSBC',
 'OMAN INTERNATIONAL BANK',
 'ICICI BANK LTD',
 'IDBI LTD',
 'IDFC BANK LTD',
 'INDIAN BANK',
 'INDIAN OVERSEAS BANK',
 'INDUSIND BANK LTD',
 'INDUSTRIAL AND COMMERCIAL BANK OF CHINA LTD',
 'INDUSTRIAL BANK OF KOREA',
 'JALGAON JANATA SAHKARI BANK LTD',
 'JAMMU AND KASHMIR BANK',
 'JANKALYAN SAHAKARI BANK LTD',
 'JANASEVA SAHAKARI BANK (BORIVLI) LTD',
 'JANASEVA SAHAKARI BANK LTD',
 'JANATA SAHAKARI BANK LTD (PUNE)',
 'JP MORGAN CHASE BANK NA',
 'KALLAPPANNA AWADE ICHALKARANJI JANATA SAHAKARI BANK LTD',
 'KALYAN JANATA SAHAKARI BANK LTD',
 'KALUPUR COMMERCIAL COOPERATIVE BANK',
 'KAPOL COOPERATIVE BANK',
 'KARNATAKA BANK LTD',
 'KARNATAKA VIKAS GRAMEENA BANK',
 'KARUR VYSYA BANK',
 'KEB HANA BANK',
 'KERALA GRAMIN BANK',
 'KOTAK MAHINDRA BANK',
 'LAXMI VILAS BANK',
 'MAHANAGAR COOPERATIVE BANK LTD',
 'MAHARASHTRA GRAMIN BANK',
 'MAHARASHTRA STATE COOPERATIVE BANK',
 'MASHREQ BANK',
 'MIZUHO CORPORATE BANK LTD',
 'NAGAR URBAN CO-OPERATIVE BANK',
 'NATIONAL BANK OF ABU DHABI PJSC',
 'NAGPUR NAGRIK SAHAKARI BANK LTD',
 'NATIONAL AUSTRALIA BANK',
 'NEW INDIA COOPERATIVE BAN LTD',
 'NKGSB COOPERATIVE BANK LTD',
 'NORTH MALABAR GRAMIN BANK',
 'NUTAN NAGARIK SAHAKARI BANK LTD',
 'ORIENTAL BANK OF COMMERCE',
 'PRAGATHI KRISHNA GRAMIN BANK',
 'PRATHAMA BANK',
 'PRIME CO-OPERATIVE BANK LTD',
 'PUNJAB AND MAHARASHTRA COOPERATIVE BANK LTD',
 'PUNJAB AND SIND BANK',
 'PUNJAB NATIONAL BANK',
 'RABOBANK INTERNATIONAL',
 'RAJGURUNAGAR SAHAKARI BANK LTD',
 'RAJKOT NAGARIK SAHAKARI BANK LTD',
 'RBL BANK LIMITED',
 'RESERVE BANK OF INDIA',
 'SAHEBRAO DESHMUKH CO-OP. BANK LTD',
 'SAMARTH SAHAKARI BANK LTD',
 'SARASWAT COOPERATIVE BANK LTD',
 'SBER BANK',
 'STATE BANK OF MAURITIUS LTD',
 'SHIKSHAK SAHAKARI BANK LTD',
 'SHINHAN BANK',
 'SHIVALIK MERCANTILE CO OPERATIVE BANK LTD',
 'SHRI CHHATRAPATI RAJASHRI SHAHU URBAN CO-OP BANK LTD',
 'SOCIETE GENERALE',
 'SOLAPUR JANATA SAHKARI BANK LTD',
 'SOUTH INDIAN BANK',
 'STANDARD CHARTERED BANK',
 'STATE BANK OF BIKANER AND JAIPUR',
 'STATE BANK OF HYDERABAD',
 'STATE BANK OF INDIA',
 'STATE BANK OF MYSORE',
 'STATE BANK OF PATIALA',
 'STATE BANK OF TRAVANCORE',
 'SUMITOMO MITSUI BANKING CORPORATION',
 'SURAT NATIONAL COOPERATIVE BANK LIMITED',
 'SUTEX COOPERATIVE BANK LTD',
 'SYNDICATE BANK',
 'TAMILNADU MERCANTILE BANK',
 'THE A.P. MAHESH CO-OP URBAN BANK LTD',
 'THE AKOLA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'THE ANDHRA PRADESH STATE COOP BANK LTD',
 'THE BANK OF NOVA SCOTIA',
 'THE COSMOS COOPERATIVE BANK LTD',
 'THE DELHI STATE COOPERATIVE BANK LTD',
 'THE GADCHIROLI DISTRICT CENTRAL COOPERATIVE BANK LTD',
 'THE GREATER BOMBAY CO-OPERATIVE BANK LTD',
 'THE GUJARAT STATE CO-OPERATIVE BANK LTD',
 'THE HASTI CO-OPERATIVE BANK LTD',
 'THE JALGAON PEOPLES CO-OP BANK',
 'THE KANGRA CENTRAL COOPERATIVE BANK LTD',
 'THE KANGRA COOPERATIVE BANK LTD',
 'THE KARAD URBAN CO-OP BANK LTD',
 'THE KARNATAKA STATE APEX COOPERATIVE BANK LTD',
 'THE KURMANCHAL NAGAR SAHKARI BANK LTD',
 'THE MEHSANA URBAN COOPERATIVE BANK LTD',
 'THE MUMBAI DISTRICT CENTRAL CO-OP BANK LTD',
 'THE MUNICIPAL CO OPERATIVE BANK LTD, MUMBAI',
 'THE NAINITAL BANK LTD',
 'THE NASIK MERCHANTS CO-OP BANK LTD',
 'THE PANDHARPUR URBAN CO OP. BANK LTD. PANDHARPUR',
 'THE RAJASTHAN STATE COOPERATIVE BANK LTD',
 'THE ROYAL BANK OF SCOTLAND N.V.',
 'THE SEVA VIKAS CO-OPERATIVE BANK LTD',
 'THE SHAMRAO VITHAL COOPERATIVE BANK LTD',
 'THE SURAT DISTRICT CO OPERATIVE BANK LTD',
 'THE SURAT PEOPLES CO-OP BANK LTD',
 'THE TAMILNADU STATE APEX COOPERATIVE BANK',
 'THE THANE BHARAT SAHAKARI BANK LTD',
 'THE THANE DISTRICT CENTRAL CO-OP BANK LTD',
 'TJSB SAHAKARI BANK LTD',
 'THE VARACHHA CO-OP. BANK LTD',
 'THE VISHWESHWAR SAHAKARI BANK LTD',
 'THE WEST BENGAL STATE COOPERATIVE BANK LTD',
 'THE ZOROASTRIAN COOPERATIVE BANK LIMITED',
 'TUMKUR GRAIN MERCHANTS COOPERATIVE BANK LTD',
 'UCO BANK',
 'UNION BANK OF INDIA',
 'UNITED BANK OF INDIA',
 'UNITED OVERSEAS BANK',
 'VASAI VIKAS SAHAKARI BANK LTD',
 'VIJAYA BANK',
 'WESTPAC BANKING CORPORATION',
 'WOORI BANK',
 'YES BANK LTD',
 'ZILA SAHKARI BANK LTD GHAZIABAD']

In [20]:
bank_branch_code

     Code                                 bank_name
0    ABHY                Abhyudaya Cooperative Bank
1    ADCB                 Abu Dhabi Commercial Bank
2    AMCB     Ahmedabad Mercantile Cooperative Bank
3    AKJB  Akola Janata Commercial Cooperative Bank
4    ALLA                            Allahabad Bank
..    ...                                       ...
173  VIJB                               Vijaya Bank
174  WPAC               Westpac Banking Corporation
175  HVBK                                Woori Bank
176  YESB                              Yes Bank Ltd
177  ZSBL           Zila Sahkari Bank Ltd Ghaziabad

[178 rows x 2 columns]

In [21]:
Foreign_Banks_2 = ["AB BANK LTD", "ABU DHABI COMMERCIAL BANK" ,"AMERICAN EXPRESS BANKING CORP", "AUSTRALIA AND NEW ZEALAND BANKING GROUP LTD" ,"BANK OF AMERICA" ,"BANK OF BAHREIN AND KUWAIT" ,"BANK OF CEYLON", "BANK OF NOVA SCOTIA", "BARCLAYS BANK" ,"BNP PARIBAS BANK" ,"CITI BANK" ,"COMMONWEALTH BANK OF AUSTRALIA", "COOPERATIEVE RABOBANK U.A." ,"CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK", "CREDIT SUISSE AG", "CTBC BANK CO., LTD" ,"DBS BANK INDIA LTD", "DEUTSCHE BANK" ,"FIRSTRAND BANK LTD" ,"HONGKONG AND SHANGHAI BANKING CORPN.LTD" ,"HSBC BANK OMAN S.A.O.G." ,"INDUSTRIAL AND COMMERCIAL BANK OF CHINA LTD", "JP MORGAN CHASE BANK NA", "JSC VTB BANK", "KBC BANK NV" ,"KRUNG THAI BANK PUBLIC COMPANY LIMITED" ,"MASHREQ BANK", "MIZUHO CORPORATE BANK LTD", "MUFG BANK LTD", "NATIONAL AUSTRALIA BANK", "NatWest Markets Plc", "SBER BANK" ,"SBM BANK (INDIA) LTD" ,"SHINHAN BANK" ,"SOCIETE GENERALE" ,"SONALI BANK", "STANDARD CHARTERED BANK" ,"UBS AG" ,"UNITED OVERSEAS BANK" ,"WOORI BANK", "SUMITOMO MITSUI BANKING CORPORATION", "WESTPAC BANKING CORPORATION", "PT BANK MAYBANK INDONESIA TBK", "DOHA BANK QSC", "INDUSTRIAL BANK OF KOREA", "FIRST ABU DHABI BANK PJSC", "KEB HANA BANK", "Qatar National Bank (Q.P.S.C.)", "EMIRATES NBD BANK (P.J.S.C.)", "BANK OF CHINA LTD", "KOOKMIN BANK"]
Private_Banks_2 = ["AXIS BANK", "CITY UNION BANK LTD", "CATHOLIC SYRIAN BANK", "DCB BANK LTD", "FEDERAL BANK LTD", "HDFC BANK LTD", "ICICI BANK LTD", "IDBI LTD", "INDUSIND BANK LTD", "ING VYSYA BANK LTD", "JAMMU & KASHMIR BANK", "KARNATAKA BANK LTD" ,"KARUR VYSYA BANK" ,"KOTAK MAHINDRA BANK", "LAXMI VILAS BANK" ,"NAINITAL BANK LTD", "RBL BANK LIMITED", "SOUTH INDIAN BANK", "TAMILNADU MERCANTILE BANK", "DHANLAXMI BANK LTD" ,"YES BANK LTD", "IDFC BANK LTD", "BANDHAN BANK LIMITED"]
Public_Banks_2 = ["ALLAHABAD BANK", "ANDHRA BANK", "BANK OF BARODA", "BANK OF INDIA", "BANK OF MAHARASHTRA", "CANARA BANK", "CENTRAL BANK OF INDIA", "CORPORATION BANK", "DENA BANK", "IDBI LTD", "INDIAN BANK", "INDIAN OVERSEAS BANK", "ORIENTAL BANK OF COMMERCE", "PUNJAB AND SIND BANK", "PUNJAB NATIONAL BANK", "STATE BANK OF BIKANER AND JAIPUR", "STATE BANK OF HYDERABAD", "STATE BANK OF INDIA", "STATE BANK OF MYSORE", "STATE BANK OF PATIALA", "STATE BANK OF TRAVANCORE", "SYNDICATE BANK", "UCO BANK", "UNION BANK OF INDIA", "UNITED BANK OF INDIA", "VIJAYA BANK", "BHARATIYA MAHILA BANK LTD"]
Small_Finance_2= ["CAPITAL SMALL FINANCE BANK LTD", "EQUITAS SMALL FINANCE BANK LIMITED", "ESAF SMALL FINANCE BANK LTD", "FINCARE SMALL FINANCE BANK LTD", "SURYODAY SMALL FINANCE BANK LTD", "UJJIVAN SMALL FINANCE BANK LTD", "AU SMALL FINANCE BANK LTD", "NORTH EAST SMALL FINANCE BANK LTD", "UTKARSH SMALL FINANCE BANK LTD", "JANA SMALL FINANCE BANK LTD"]
All_Banks_2 = Foreign_Banks_2 + Private_Banks_2 + Public_Banks_2 + Small_Finance_2
All_Banks_2 = [x.upper() for x in All_Banks_2]
All_Banks_2

['AB BANK LTD',
 'ABU DHABI COMMERCIAL BANK',
 'AMERICAN EXPRESS BANKING CORP',
 'AUSTRALIA AND NEW ZEALAND BANKING GROUP LTD',
 'BANK OF AMERICA',
 'BANK OF BAHREIN AND KUWAIT',
 'BANK OF CEYLON',
 'BANK OF NOVA SCOTIA',
 'BARCLAYS BANK',
 'BNP PARIBAS BANK',
 'CITI BANK',
 'COMMONWEALTH BANK OF AUSTRALIA',
 'COOPERATIEVE RABOBANK U.A.',
 'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK',
 'CREDIT SUISSE AG',
 'CTBC BANK CO., LTD',
 'DBS BANK INDIA LTD',
 'DEUTSCHE BANK',
 'FIRSTRAND BANK LTD',
 'HONGKONG AND SHANGHAI BANKING CORPN.LTD',
 'HSBC BANK OMAN S.A.O.G.',
 'INDUSTRIAL AND COMMERCIAL BANK OF CHINA LTD',
 'JP MORGAN CHASE BANK NA',
 'JSC VTB BANK',
 'KBC BANK NV',
 'KRUNG THAI BANK PUBLIC COMPANY LIMITED',
 'MASHREQ BANK',
 'MIZUHO CORPORATE BANK LTD',
 'MUFG BANK LTD',
 'NATIONAL AUSTRALIA BANK',
 'NATWEST MARKETS PLC',
 'SBER BANK',
 'SBM BANK (INDIA) LTD',
 'SHINHAN BANK',
 'SOCIETE GENERALE',
 'SONALI BANK',
 'STANDARD CHARTERED BANK',
 'UBS AG',
 'UNITED OVERSEAS BANK',
 'WOORI BANK',
 'SUMITOMO MITSUI BANKING CORPORATION',
 'WESTPAC BANKING CORPORATION',
 'PT BANK MAYBANK INDONESIA TBK',
 'DOHA BANK QSC',
 'INDUSTRIAL BANK OF KOREA',
 'FIRST ABU DHABI BANK PJSC',
 'KEB HANA BANK',
 'QATAR NATIONAL BANK (Q.P.S.C.)',
 'EMIRATES NBD BANK (P.J.S.C.)',
 'BANK OF CHINA LTD',
 'KOOKMIN BANK',
 'AXIS BANK',
 'CITY UNION BANK LTD',
 'CATHOLIC SYRIAN BANK',
 'DCB BANK LTD',
 'FEDERAL BANK LTD',
 'HDFC BANK LTD',
 'ICICI BANK LTD',
 'IDBI LTD',
 'INDUSIND BANK LTD',
 'ING VYSYA BANK LTD',
 'JAMMU & KASHMIR BANK',
 'KARNATAKA BANK LTD',
 'KARUR VYSYA BANK',
 'KOTAK MAHINDRA BANK',
 'LAXMI VILAS BANK',
 'NAINITAL BANK LTD',
 'RBL BANK LIMITED',
 'SOUTH INDIAN BANK',
 'TAMILNADU MERCANTILE BANK',
 'DHANLAXMI BANK LTD',
 'YES BANK LTD',
 'IDFC BANK LTD',
 'BANDHAN BANK LIMITED',
 'ALLAHABAD BANK',
 'ANDHRA BANK',
 'BANK OF BARODA',
 'BANK OF INDIA',
 'BANK OF MAHARASHTRA',
 'CANARA BANK',
 'CENTRAL BANK OF INDIA',
 'CORPORATION BANK',
 'DENA BANK',
 'IDBI LTD',
 'INDIAN BANK',
 'INDIAN OVERSEAS BANK',
 'ORIENTAL BANK OF COMMERCE',
 'PUNJAB AND SIND BANK',
 'PUNJAB NATIONAL BANK',
 'STATE BANK OF BIKANER AND JAIPUR',
 'STATE BANK OF HYDERABAD',
 'STATE BANK OF INDIA',
 'STATE BANK OF MYSORE',
 'STATE BANK OF PATIALA',
 'STATE BANK OF TRAVANCORE',
 'SYNDICATE BANK',
 'UCO BANK',
 'UNION BANK OF INDIA',
 'UNITED BANK OF INDIA',
 'VIJAYA BANK',
 'BHARATIYA MAHILA BANK LTD',
 'CAPITAL SMALL FINANCE BANK LTD',
 'EQUITAS SMALL FINANCE BANK LIMITED',
 'ESAF SMALL FINANCE BANK LTD',
 'FINCARE SMALL FINANCE BANK LTD',
 'SURYODAY SMALL FINANCE BANK LTD',
 'UJJIVAN SMALL FINANCE BANK LTD',
 'AU SMALL FINANCE BANK LTD',
 'NORTH EAST SMALL FINANCE BANK LTD',
 'UTKARSH SMALL FINANCE BANK LTD',
 'JANA SMALL FINANCE BANK LTD']

In [22]:
inter_1 = []
All_Banks_3 = [x.upper() for x in All_Banks]
for i in All_Banks_3:
    if i in branch_name_list_cap:
        inter_1.append(i)

len(inter_1)

46

In [23]:
inter_2 = []
for i in All_Banks_2:
    if i not in branch_name_list_cap:
        inter_2.append(i)
inter_2

['AB BANK LTD',
 'AMERICAN EXPRESS BANKING CORP',
 'BANK OF NOVA SCOTIA',
 'COOPERATIEVE RABOBANK U.A.',
 'CTBC BANK CO., LTD',
 'DBS BANK INDIA LTD',
 'HONGKONG AND SHANGHAI BANKING CORPN.LTD',
 'HSBC BANK OMAN S.A.O.G.',
 'JSC VTB BANK',
 'KBC BANK NV',
 'KRUNG THAI BANK PUBLIC COMPANY LIMITED',
 'MUFG BANK LTD',
 'NATWEST MARKETS PLC',
 'SBM BANK (INDIA) LTD',
 'SONALI BANK',
 'UBS AG',
 'FIRST ABU DHABI BANK PJSC',
 'QATAR NATIONAL BANK (Q.P.S.C.)',
 'EMIRATES NBD BANK (P.J.S.C.)',
 'BANK OF CHINA LTD',
 'KOOKMIN BANK',
 'ING VYSYA BANK LTD',
 'JAMMU & KASHMIR BANK',
 'NAINITAL BANK LTD',
 'CAPITAL SMALL FINANCE BANK LTD',
 'ESAF SMALL FINANCE BANK LTD',
 'FINCARE SMALL FINANCE BANK LTD',
 'SURYODAY SMALL FINANCE BANK LTD',
 'UJJIVAN SMALL FINANCE BANK LTD',
 'AU SMALL FINANCE BANK LTD',
 'NORTH EAST SMALL FINANCE BANK LTD',
 'UTKARSH SMALL FINANCE BANK LTD',
 'JANA SMALL FINANCE BANK LTD']

In [24]:
inter_3 = []
for i in All_Banks_2:
    if i in branch_name_list_cap:
        inter_3.append(i)

len(inter_3)

78

In [25]:
inter_4 = []
for i in All_Banks_2:
    if i not in branch_name_list_cap:
        inter_4.append(i)
len(inter_4)

33

In [26]:
inter_5 = []
for i in branch_name_list_cap:
    if i in All_Banks_2:
        inter_5.append(i)

len(inter_5)

77

In [27]:
bank_branch_code['bank_name'] = bank_branch_code['bank_name'].str.upper()
bank_branch_code

     Code                                 bank_name
0    ABHY                ABHYUDAYA COOPERATIVE BANK
1    ADCB                 ABU DHABI COMMERCIAL BANK
2    AMCB     AHMEDABAD MERCANTILE COOPERATIVE BANK
3    AKJB  AKOLA JANATA COMMERCIAL COOPERATIVE BANK
4    ALLA                            ALLAHABAD BANK
..    ...                                       ...
173  VIJB                               VIJAYA BANK
174  WPAC               WESTPAC BANKING CORPORATION
175  HVBK                                WOORI BANK
176  YESB                              YES BANK LTD
177  ZSBL           ZILA SAHKARI BANK LTD GHAZIABAD

[178 rows x 2 columns]

In [28]:
bank_branch_code_filter = bank_branch_code[bank_branch_code['bank_name'].isin(inter_3)]
bank_branch_code_filter

     Code                                    bank_name
1    ADCB                    ABU DHABI COMMERCIAL BANK
4    ALLA                               ALLAHABAD BANK
6    ANDB                                  ANDHRA BANK
9    ANZB  AUSTRALIA AND NEW ZEALAND BANKING GROUP LTD
10   UTIB                                    AXIS BANK
..    ...                                          ...
171  UOVB                         UNITED OVERSEAS BANK
173  VIJB                                  VIJAYA BANK
174  WPAC                  WESTPAC BANKING CORPORATION
175  HVBK                                   WOORI BANK
176  YESB                                 YES BANK LTD

[77 rows x 2 columns]

In [29]:
bank_branch_code_filter = bank_branch_code_filter[bank_branch_code_filter['Code'] != 'ESFB'] #Not in branch locations

In [30]:
banks_to_read = bank_branch_code_filter['Code']
banks_to_read

1      ADCB
4      ALLA
6      ANDB
9      ANZB
10     UTIB
       ...
171    UOVB
173    VIJB
174    WPAC
175    HVBK
176    YESB
Name: Code, Length: 76, dtype: object

In [31]:
data_dict = {}
for i in banks_to_read:
    with open(f'Raw Data/by-bank/{i}.json', 'r') as file:
        data_dict[i] = json.load(file)

In [32]:
len(data_dict)

76

In [33]:
for i in banks_to_read:
    globals()[f'bank_branch_{i}'] = pd.json_normalize(data_dict[i].values())

In [34]:
bank_branch_HDFC

,BANK,IFSC,BRANCH,ADDRESS,CONTACT,CITY,DISTRICT,STATE
0,HDFC BANK,HDFC0000001,TULSIANI CHMBRS - NARIMAN PT,101-104 TULSIANI CHAMBERSFREE PRESS JOURNAL MA...,9890603333.0,MUMBAI,GREATER MUMBAI,MAHARASHTRA
1,HDFC BANK,HDFC0000002,MUMBAI - KHAR (WEST),"SWAGATAM,OPP. KHAR POLICE STATION,S.V.ROAD, KH...",9890603333.0,MUMBAI,GREATER MUMBAI,MAHARASHTRA
2,HDFC BANK,HDFC0000003,K G MARG,"209 - 214, KAILASH BUILDING, 26, KASTURBA GAND...",61606161,DELHI,NEW DELHI,DELHI
3,HDFC BANK,HDFC0000004,CHENNAI - ITC CENTRE - ANNA SALAI,"759, ITC CENTREANNA SALAI, OPP T.V.S.CHENNAITA...",9840673333.0,CHENNAI,CHENNAI,TAMIL NADU
4,HDFC BANK,HDFC0000005,MUMBAI - BHULABHAI DESAI ROAD,"TIRUPATI APARTMENTS,SHOP NO. 4,BHULABHAI DESAI...",9890603333.0,MUMBAI,GREATER MUMBAI,MAHARASHTRA
...,...,...,...,...,...,...,...,...
5476,HDFC BANK,HDFC0CYACBP,THE YASHWANT CO-OP BANK LTD PHALTAN,"69,GURUWAR PETH,CHAWDI CHOWK,KARAD 415110",9422745818.0,KARAD,SATARA,MAHARASHTRA
5477,HDFC BANK,HDFC0CYDCBL,YOUTH DEVELOPMENT COOP BANK LTD.KOL,"POORNIMA F-2, FIRST FLOOR, 1429/G, NEAR SAMBHA...",2550120.0,KOLHAPUR,KOLHAPUR,MAHARASHTRA
5478,HDFC BANK,HDFC0CYMCBK,YEOLA MER CO O PBANK LTD,YASHODHAN BALAJI GALLI YEOLA DIST NASIK,265547.0,YEOLA,NASIK,MAHARASHTRA
5479,HDFC BANK,HDFC0CYMSB1,THE YAVATMAL MAHILA SAH BANK LTD,"ANNAPURNA, MAINDE CHOWK, SANKAT MOCHAN ROAD YA...",250661.0,YAVATMAL,YAVATMAL,MAHARASHTRA
5480,HDFC BANK,HDFC0CYNSBL,YASHWANT NAGARI SAHAKARI BANK LTD,USHA KIRAN COMPLEX BARSHI ROAD LATUR,222142.0,LATUR,LATUR,MAHARASHTRA

In [35]:
branch_all = pd.concat([globals()[f'bank_branch_{i}'] for i in banks_to_read], ignore_index=True)
branch_all['foreign_dummy'] = branch_all['BANK'].isin(Foreign_Banks_2).astype(int)
branch_all['private_dummy'] = branch_all['BANK'].isin(Private_Banks_2).astype(int)
branch_all['public_dummy'] = branch_all['BANK'].isin(Public_Banks_2).astype(int)
branch_all['small_finance_dummy'] = branch_all['BANK'].isin(Small_Finance_2).astype(int)

In [36]:
branch_all

,BANK,IFSC,BRANCH,ADDRESS,CONTACT,CITY,DISTRICT,STATE,foreign_dummy,private_dummy,public_dummy,small_finance_dummy
0,ABU DHABI COMMERCIAL BANK,ADCB0000001,RTGS-HO,"75, REHMAT MANZIL, V. N. ROAD, CURCHGATE, MUMB...",39534100,MUMBAI,MUMBAI CITY,MAHARASHTRA,1,0,0,0
1,ABU DHABI COMMERCIAL BANK,ADCB0000002,BANGALORE,"CITI CENTRE, 28, CHURCH STREET, OFF M. G. ROAD...",25582000,BANGALORE,BANGALORE URBAN,KARNATAKA,1,0,0,0
2,ALLAHABAD BANK,ALLA0210001,GUWAHATI MAIN BRANCH,"H. B. ROAD, MACHOWA, OPP. OF ASTC BUS STAND MA...",2545218,GUWAHATI,KAMRUP,ASSAM,0,0,1,0
3,ALLAHABAD BANK,ALLA0210002,PATNA UNIVERSITY,"PATNA UNIVERSITY.GANESH ROAD,DIST-PATNA",2671644,PATNA,PATNA,BIHAR,0,0,1,0
4,ALLAHABAD BANK,ALLA0210003,PATNA MAIN,"BUDH MARG,DIST-PATNA,PIN-800001",2235237,PATNA,PATNA,BIHAR,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
121035,YES BANK,YESB0ZSBL20,ZILA SAHKARI BANK LUCKNOW ICCMRT EC,"21/467, INDIRA NAGAR, LUCKNOW - 226016",8756400236.0,LUCKNOW,LUCKNOW,UTTAR PRADESH,0,0,0,0
121036,YES BANK,YESB0ZSBL21,ZILA SAHKARI BANK LUCKNOW PARAGDARY,"JOPPLING ROAD, LUCKNOW - 226001",8756400237.0,LUCKNOW,LUCKNOW,UTTAR PRADESH,0,0,0,0
121037,YES BANK,YESB0ZSBL22,ZILA SAHKARI BANK LUCKNOW ARJUNGANJ,"AHMAMAU, ARJUNGANJ, LUCKNOW - 226002",8756400239.0,ARJUNGANJ,LUCKNOW,UTTAR PRADESH,0,0,0,0
121038,YES BANK,YESB0ZSBL23,ZILA SAHKARI BANK LUCKNOW CHANDRNGR,"H NO 551 KA/180 KHA,ST BANK RD, BHILLAWAN,CHAN...",8756400238.0,LUCKNOW,LUCKNOW,UTTAR PRADESH,0,0,0,0
121039,YES BANK,YESB0ZSBL99,ZILA SAHKARI BANK LUCKNOW H O,"26, JAGDISH BUILDING, HAZRATGANJ, LUCKNOW - 22...",8756400240.0,LUCKNOW,LUCKNOW,UTTAR PRADESH,0,0,0,0

In [ ]:
# #Uncomment to write to csv
# branch_all.to_csv(f'Clean Data/branch_all.csv')

In [38]:
with open('Raw Data/by-bank_cov/banknames.json', 'r') as file_3:
    data_3 = json.load(file_3)

In [39]:
bank_branch_code2 = pd.DataFrame([data_3])
bank_branch_code2 = bank_branch_code2.T
bank_branch_code2 = bank_branch_code2.reset_index()
bank_branch_code2 = bank_branch_code2.rename(columns = { 'index' : 'Code', 0 : 'bank_name'})
branch_name_list2 = bank_branch_code2['bank_name'].to_list()
branch_name_list_cap2 = [x.upper() for x in branch_name_list2]
branch_name_list_cap2 = sorted(branch_name_list_cap2)
branch_name_list_cap2

['510 ARMY BASE W/S CREDIT CO-OPERATIVE PRIMARY BANK',
 'A.P. MAHESH CO-OPERATIVE URBAN BANK',
 'AB BANK',
 'ABHINANDAN URBAN CO-OPERATIVE BANK AMRAVATI',
 'ABHINAV SAHAKARI BANK',
 'ABHYUDAYA CO-OPERATIVE BANK',
 'ABU DHABI COMMERCIAL BANK',
 'ACE CO-OPERATIVE BANK',
 'ADARNIYA P.D. PATILSAHEB SAHAKARI BANK',
 'ADARSH CO-OPERATIVE BANK',
 'ADARSH CO-OPERATIVE URBAN BANK',
 'ADARSH MAHILA MERCANTILE CO-OPERATIVE BANK',
 'ADILABAD DISTRICT CO-OPERATIVE CENTRAL BANK',
 'ADINATH CO-OPERATIVE BANK',
 'ADITYA BIRLA IDEA PAYMENTS BANK',
 'ADV.SHAMRAOJI SHINDE SATYASHODHAK BANK',
 'AGARTALA CO-OPERATIVE URBAN BANK',
 'AGRA DISTRICT CO-OPERATIVE BANK',
 'AGRASEN CO-OPERATIVE URBAN BANK',
 'AGRASEN NAGARI SAHAKARI BANK',
 'AGROHA CO-OPERATIVE URBAN BANK',
 'AHILYADEVI URBAN CO-OPERATIVE BANK LIMITED SOLAPUR',
 'AHMEDABAD DISTRICT CO-OPERATIVE BANK',
 'AHMEDABAD MERCANTILE CO-OPERATIVE BANK',
 'AHMEDNAGAR DISTRICT CENTRAL CO-OPERATIVE BANK',
 "AHMEDNAGAR MERCHANT'S CO-OPERATIVE BANK",
 'AHMEDNAGAR MERCHANTS CO-OPERATIVE BANK',
 'AHMEDNAGAR SHAHAR SAHAKARI BANK MARYADIT',
 'AIRTEL PAYMENTS BANK',
 'AJANTHA URBAN CO-OPERATIVE BANK',
 'AJARA URBAN CO-OPERATIVE BANK',
 'AJARA URBAN CO-OPERATIVE BANK',
 'AJARA URBAN CO-OPERATIVE BANK BOM',
 'AJMER CENTRAL CO-OPERATIVE BANK',
 'AKHAND ANAND CO.OP BANK',
 'AKOLA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'AKOLA JANATA COMMERCIAL CO-OPERATIVE BANK',
 'AKOLA JANATA COMMERCIAL CO-OPERATIVE BANK',
 'AKOLA MERCHANT CO-OPERATIVE BANK',
 'AKOLA URBAN CO-OPERATIVE BANK',
 'ALAPPUZHA DISTRICT CO-OPERATIVE BANK',
 'ALAVI CO-OPERATIVE BANK',
 'ALIGARH DISTRICT CO-OPERATIVE BANK',
 'ALLAHABAD BANK',
 'ALLAHABAD DISTRICT CO-OPERATIVE BANK',
 'ALLAHABAD UP GRAMIN BANK',
 'ALMORA URBAN CO-OPERATIVE BANK',
 'ALMORA ZILA SAHKARI BANK',
 'ALWAR CENTRAL CO-OPERATIVE BANK',
 'ALWAR URBAN CO-OPERATIVE BANK',
 'ALWAYE URBAN CO-OPERATIVE BANK',
 'AMAN SAHAKARI BANK',
 'AMARNATH CO-OPERATIVE BANK',
 'AMBAJOGAI PEOPLES CO-OPERATIVE BANK',
 'AMBALA CENTRAL CO-OPERATIVE BANK',
 'AMBARNATH JAI-HIND CO-OPERATIVE BANK',
 'AMBARNATH JAIHIND CO-OPERATIVE BANK AMBARNATH',
 'AMBIKA MAHILA SAHAKARI BANK AHMEDNAGAR',
 'AMRAVATI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'AMRAVATI ZILLA PARISHAD SHIKSHAK SAHAKARI BANK',
 'AMRELI JILLA MADHYASTHA SAHAKARI BANK',
 'AMRELI NAGARIK SAHAKARI BANK',
 'AMRITSAR CENTRAL CO-OPERATIVE BANK',
 'ANAND MERCANTILE CO-OPERATIVE BANK',
 'ANANTAPUR DISTRICT CO-OPERATIVE CENTRAL BANK',
 'ANDAMAN & NICOBAR STATE CO-OPERATIVE BANK',
 'ANDARSUL URBAN CO-OPERATIVE BANK',
 'ANDHRA BANK',
 'ANDHRA BANK EMPLOYEES CO-OPERATIVE BANK',
 'ANDHRA PRADESH GRAMEENA VIKAS BANK',
 'ANDHRA PRADESH GRAMEENA VIKAS BANK',
 'ANDHRA PRADESH STATE CO-OPERATIVE BANK',
 'ANDHRA PRAGATHI GRAMEENA BANK',
 'ANGUL UNITED CENTRAL CO-OPERATIVE BANK',
 'ANNASAHEB CHOUGULE URBAN CO-OPERATIVE BANK',
 'ANNASAHEB MAGAR SAHAKARI BANK',
 'ANNASAHEB SAVANT CO-OPERATIVE URBAN BANK MAHAD',
 'ANURADHA URBAN CO-OPERATIVE BANK',
 'AP JANATA CO-OPERATIVE URBAN BANK',
 "AP MAHAJAN'S CO-OPERATIVE URBAN BANK",
 'APANI SAHAKARI BANK',
 'APNA SAHAKARI BANK',
 'ARUNACHAL PRADESH RURAL BANK',
 'ARUNACHAL PRADESH STATE CO-OPERATIVE APEX BANK',
 'ARVIND SAHAKARI BANK',
 'ARYAPURAM CO-OPERATIVE URBAN BANK',
 'ASHOK SAHAKARI BANK',
 'ASHOKNAGAR CO-OPERATIVE BANK',
 "ASHTA PEOPLE'S CO-OPERATIVE BANK",
 'ASSAM CO-OPERATIVE APEX BANK',
 'ASSAM GRAMIN VIKASH BANK',
 'ASSOCIATE CO-OPERATIVE BANK',
 'ASTHA MAHILA NAGRIK SAHAKARI BANK MARYADIT',
 'AU SMALL FINANCE BANK',
 'AURANGABAD DISTRICT CENTRAL CO-OPERATIVE BANK',
 'AURANGABAD DISTRICT CENTRAL CO-OPERATIVE BANK. BIHAR',
 'AUSTRALIA AND NEW ZEALAND BANKING GROUP',
 'AXIS BANK',
 'AZAD CO-OPERATIVE BANK',
 'AZAD URBAN CO-OPERATIVE BANK HUBLI',
 'BADAGARA CO-OPERATIVE URBAN BANK',
 'BADAUN ZILA SAHKARI BANK',
 'BAGALKOT DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BAGHAT URBAN CO-OPERATIVE BANK',
 'BAHRAICH DISTRICT CO-OPERATIVE BANK',
 'BAIDYABATI SHEORAPHULI CO-OPERATIVE BANK',
 'BALAGERIA CENTRAL CO-OPERATIVE BANK',
 'BALASINOR NAGARIK SAHAKARI BANK',
 'BALASORE BHADRAK CENTRAL CO-OPERATIVE BANK',
 'BALITIKURI CO-OPERATIVE BANK',
 'BALOTRA URBAN CO-OPERATIVE BANK',
 'BALUSSERI CO-OPERATIVE URBAN BANK',
 'BANARAS MERCHANTILE CO-OPERATIVE BANK',
 'BANASKANTHA DIST CENTRAL CO-OPERATIVE BANK',
 'BANASKANTHA MERCANTILE CO-OPERATIVE BANK',
 'BANDA DISTRICT CO-OPERATIVE BANK LIMITED BANDA',
 'BANDA URBAN CO-OPERATIVE BANK',
 'BANDHAN BANK',
 'BANGALORE  BANGALORE RURAL&RAMANAGARA DCCB',
 'BANGALORE CITY CO-OPERATIVE BANK',
 'BANGIYA GRAMIN VIKASH BANK',
 'BANK OF AMERICA',
 'BANK OF BAHREIN AND KUWAIT',
 'BANK OF BARODA',
 'BANK OF CEYLON',
 'BANK OF INDIA',
 'BANK OF MAHARASHTRA',
 'BANK OF NOVA SCOTIA',
 'BANK OF TOKYO MITSUBISHI',
 'BANKURA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BANSWARA CENTRAL CO-OPERATIVE BANK',
 'BANTRA CO-OPERATIVE BANK',
 'BAPUJI CO-OPERATIVE BANK',
 'BAPUNAGAR MAHILA CO-OPERATIVE BANK',
 'BARAMATI SAHAKARI BANK',
 'BARAMATI SAHAKARI BANK',
 'BARAN KENDRIYA SAHAKARI BANK BARAN',
 'BARAN NAGRIK SAHKARI BANK',
 'BARCLAYS BANK',
 'BARMER CENTRAL CO-OPERATIVE BANK',
 'BARODA CENTRAL CO-OPERATIVE BANK',
 'BARODA CITY CO-OPERATIVE BANK',
 'BARODA GUJARAT GRAMIN BANK',
 'BARODA RAJASTHAN KSHETRIYA GRAMIN BANK',
 'BARODA TRADERS CO-OPERATIVE BANK',
 'BARODA UTTAR PRADESH GRAMIN BANK',
 'BASSEIN CATHOLIC CO-OPERATIVE BANK',
 'BATHINDA CENTRAL CO-OPERATIVE BANK',
 'BAVLA NAGRIK SAHAKARI BANK',
 'BEAWAR URBAN CO-OPERATIVE BANK',
 'BEED DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BEGUSARAI CENTRAL CO-OPERATIVE BANK',
 'BELGAUM DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BELLAD BAGEWADI URBAN SOUHARADA SAHAKARI BANK NYT',
 'BELLARY DISTRICT CO-OPERATIVE CENTRAL BANK',
 'BELUR URBAN CO-OPERATIVE BANK',
 'BETUL NAGRIK SAHAKARI BANK MYDT',
 'BHABHAR VIBHAG NAGRIK SAHAKARI BANK',
 "BHADGAON PEOPLE'S CO-OPERATIVE BANK",
 'BHADOHI URBAN CO-OPERATIVE BANK GYANPUR',
 'BHADRADRI CO-OPERATIVE URBAN BANK',
 "BHADRAN PEOPLE'S CO-OPERATIVE BANK",
 'BHAGALPUR CENTRAL CO-OPERATIVE BANK',
 'BHAGINI NIVEDITA SAHAKARI BANK',
 'BHAGINI NIVEDITA SAHAKARI BANK PUNE',
 'BHAGYALAKSHMI MAHILA SAHAKARI BANK',
 'BHAGYODAYA CO-OPERATIVE BANK',
 'BHAGYODAYA FRIENDS URBAN CO-OPERATIVE BANK',
 'BHANDARA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BHANDARA URBAN CO-OPERATIVE BANK',
 'BHARAT CO-OPERATIVE BANK',
 'BHARATH CO-OPERATIVE BANK',
 'BHARATI SAHAKARI BANK PUNE',
 'BHARATIYA MAHILA BANK',
 'BHARATPUR CENTRAL CO-OPERATIVE BANK',
 'BHARUCH DISTRICT CENTRAL CO-OPERATIVE BANK BHARUC',
 'BHATKAL URBAN CO-OPERATIVE BANK',
 'BHATPARA NAIHATI CO-OPERATIVE BANK',
 'BHAVANA RISHI CO-OPERATIVE. URBAN BANK',
 'BHAVANI SAHAKARI BANK',
 'BHAVASARA KSHATRIYA CO-OPERATIVE BANK',
 'BHAVNAGAR DISTRICT CO-OPERATIVE BANK',
 'BHEL EMPLOYEES CO-OPERATIVE BANK',
 'BHILAI NAGARIK SAHAKARI BANK MARYADIT',
 'BHILWARA MAHILA URBAN CO-OPERATIVE BANK',
 'BHILWARA URBAN CO-OPERATIVE BANK',
 'BHIND NAGRIK SAHAKARI BANK MYDT',
 'BHINGAR URBAN CO-OPERATIVE BANK',
 'BHIWANI CENTRAL CO-OPERATIVE BANK BHIWANI',
 'BHOPAL CO-OPERATIVE CENTRAL BANK',
 'BHUJ COMMERCIAL CO-OPERATIVE BANK',
 'BHUJ MERCENTILE CO-OPERATIVE BANK',
 'BICHOLIM URBAN CO-OPERATIVE BANK',
 'BIHAR AWAMI CO-OPERATIVE BANK',
 'BIHAR STATE CO-OPERATIVE BANK',
 'BIJAPUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BIJNOR URBAN CO-OPERATIVE BANK',
 'BILAGI PATTANA SAHAKARI BANK NIYAMIT',
 'BNP PARIBAS BANK',
 'BOMBAY MERCANTILE CO-OPERATIVE BANK',
 'BORAL UNION CO-OPERATIVE BANK',
 'BOTAD PEOPLES CO-OPERATIVE BANK',
 'BRAHMADEODADA MANE SAHAKARI BANK SOLAPUR',
 'BRAHMAWART COMMERCIAL CO-OPERATIVE BANK',
 'BRAMHAPURI URBAN CO-OPERATIVE BANK',
 'BULDANA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'BUNDI CENTRAL CO-OPERATIVE BANK',
 'BURDWAN CENTRAL CO-OPERATIVE BANK',
 'BUSINESS CO-OPERATIVE BANK',
 'CALICUT CO-OPERATIVE URBAN BANK',
 'CANARA BANK',
 'CAPITAL SMALL FINANCE BANK',
 'CATHOLIC CO-OPERATIVE URBAN BANK',
 'CATHOLIC SYRIAN BANK',
 'CENTRAL BANK OF INDIA',
 'CENTRAL CO-OPERATIVE BANK  BHILWARA',
 'CENTRAL CO-OPERATIVE BANK ARA',
 'CENTRAL CO-OPERATIVE BANK BIKANER',
 'CENTRAL CO-OPERATIVE BANK TONK',
 'CENTRAL MADHYA PRADESH GRAMIN BANK',
 'CHAITANYA GODAVARI GRAMEENA BANK',
 'CHAMBA URBAN CO-OPERATIVE BANK CHAMBA',
 'CHAMOLI ZILA SAHKARI BANK',
 'CHANASMA COMMERCIAL CO-OPERATIVE BANK',
 'CHANDIGARH STATE CO-OPERATIVE BANK',
 'CHANDRAPUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'CHARTERED SAHAKARI BANK NIYAMITHA',
 'CHEMBUR NAGARIK SAHAKARI BANK',
 'CHENGELPATTU CO-OPERATIVE URBAN BANK',
 'CHENNAI CENTRAL CO-OPERATIVE BANK',
 'CHERPALCHERI CO-OPERATIVE URBAN BANK',
 'CHHATTISGARH GRAMIN BANK',
 'CHHATTISGARH RAJYA SAHAKARI BANK MYDT',
 'CHIKHLI URBAN CO-OPERATIVE BANK',
 'CHIKMAGALUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'CHIKMAGALUR JILLA MAHILA SAHAKARA BANK',
 'CHIKMAGALUR PATTANA SAHAKARA BANK NIYAMITHA',
 'CHINATRUST COMMERCIAL BANK',
 'CHIPLUN URBAN CO-OPERATIVE BANK',
 'CHITNAVISPURA SAHAKARI BANK',
 'CHITRADURGA DISTRICT CO-OPERATIVE CENTRAL BANK',
 'CHITTOOR DISTRICT CO-OPERATIVE CENTRAL BANK',
 'CHITTORGARH KENDRIYA SAHAKARI BANK',
 'CHITTORGARH URBAN CO-OPERATIVE BANK CHITTORGARH',
 'CHOPDA PEOPLES CO-OPERATIVE BANK',
 'CHURU CENTRAL CO-OPERATIVE BANK',
 'CHURU ZILA URBAN CO-OPERATIVE BANK',
 'CITI BANK',
 'CITIZEN CO-OPERATIVE BANK',
 'CITIZEN CO-OPERATIVE BANK',
 'CITIZEN CREDIT CO-OPERATIVE BANK',
 'CITIZENS CO-OPERATIVE BANK',
 'CITIZENS URBAN CO-OPERATIVE BANK',
 "CITIZENS' CO-OPERATIVE BANK JAMMU",
 'CITY CO-OPERATIVE BANK',
 'CITY UNION BANK',
 'CO-OPERATIVE BANK OF MEHSANA',
 'CO-OPERATIVE BANK OF RAJKOT',
 'CO-OPERATIVE CITY BANK',
 'COASTAL LOCAL AREA BANK',
 'COIMBATORE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'COL RD NIKAM SAINIK SAHAKARI BANK',
 "COLOUR MERCHANT'S CO-OPERATIVE BANK",
 'COMMERCIAL CO-OPERATIVE BANK',
 'COMMERCIAL CO-OPERATIVE BANK',
 'COMMERCIAL CO-OPERATIVE BANK',
 'COMMONWEALTH BANK OF AUSTRALIA',
 'CONTAI CO-OPERATIVE BANK',
 'CORPORATION BANK',
 'COSMOS CO-OPERATIVE BANK',
 'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK',
 'CREDIT SUISSE AG',
 'CUDDALORE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'D.Y.PATIL SAHAKARI BANK KOLHAPUR',
 'DAHOD MERCANTILE CO-OPERATIVE BANK',
 'DAHOD URBAN CO-OPERATIVE BANK',
 'DAIVADNYA SAHAKARA BANK NIYAMIT',
 'DAKSHIN BIHAR GRAMIN BANK',
 'DAKSHIN BIHAR GRAMIN BANK',
 'DAKSHIN DINAJPUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'DAPOLI URBAN CO-OPERATIVE BANK DAPOLI',
 'DARJEELING DISTRICT CENTRAL CO-OPERATIVE BANK',
 'DARUSSALAM CO-OPERATIVE URBAN BANK',
 'DATTATRAYA MAHARAJ KALAMBE JAOLI SAHAKARI BANK',
 'DAUND URBAN CO-OPERATIVE BANK',
 'DAUSA KENDRIYA SAHKARI BANK DAUSA',
 'DAUSA URBAN CO-OPERATIVE BANK',
 'DAVANAGERE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'DCB BANK',
 'DECCAN CO-OPERATIVE URBAN BANK',
 'DECCAN MERCHANTS CO-OPERATIVE BANK',
 'DEENDAYAL NAGARI SAHAKARI BANK',
 'DEFENCE ACCOUNTS CO-OPERATIVE BANK',
 'DELHI NAGRIK SEHKARI BANK',
 'DELHI STATE CO-OPERATIVE BANK',
 'DELHI STATE CO-OPERATIVE BANK',
 'DENA BANK',
 'DENA GUJARAT GRAMIN BANK',
 'DEOGHAR JAMTARA CENTRAL CO-OPERATIVE BANK DEOGHAR',
 'DEOGIRI NAGARI SAHAKARI BANK AURANGABAD',
 'DEOGIRI SAHAKARI BANK AURANGABAD',
 'DEORIA KASIA DISTRICT CO-OPERATIVE BANK',
 'DEPOSIT INSURANCE AND CREDIT GUARANTEE CORPORATION',
 'DEUTSCHE BANK',
 'DEVELOPMENT BANK OF SINGAPORE',
 'DEVELOPMENT CO-OPERATIVE BANK KANPUR',
 'DEVIKA URBAN CO-OPERATIVE BANK',
 'DHAKURIA CO-OPERATIVE BANK',
 'DHANBAD CENTRAL CO-OPERATIVE BANK',
 'DHANERA MERCANTILE CO-OPERATIVE BANK',
 'DHANLAXMI BANK',
 'DHARAMVIR SAMBHAJI URBAN CO-OPERATIVE BANK',
 'DHARMAPURI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'DHULE AND NANDURBAR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'DILIP URBAN CO-OPERATIVE BANK',
 'DINDIGUL CENTRAL CO-OPERATIVE BANK',
 'DISTRICT CENTRAL CO-OPERATIVE BANK KHAMMAM',
 'DISTRICT CENTRAL CO-OPERATIVE BANK LIMITED ELLURU',
 'DISTRICT CO-OPERATIVE BANK BARABANKI',
 'DISTRICT CO-OPERATIVE BANK DEHRADUN',
 'DISTRICT CO-OPERATIVE BANK FAIZABAD',
 'DISTRICT CO-OPERATIVE BANK MAINPURI',
 'DISTRICT CO-OPERATIVE BANK PILIBHIT',
 'DISTRICT CO-OPERATIVE BANK PRATAPGARH',
 'DISTRICT CO-OPERATIVE BANK SAHARANPUR',
 'DISTRICT CO-OPERATIVE BANK SHAHJAHANPUR',
 'DISTRICT CO-OPERATIVE BANK TELIYABAGH',
 'DISTRICT CO-OPERATIVE BANKRAEBARELI',
 'DISTRICT CO-OPERATIVE CENTRAL BANK',
 'DISTRICT CO-OPERATIVE CENTRAL BANK KAKINADA',
 'DISTRICT CO-OPERATIVE CENTRAL BANK KURNOOL',
 'DISTRICT CO-OPERATIVE CENTRAL BANK MAHABUBNAGAR',
 'DISTRICT CO-OPERATIVE CENTRAL BANK SRIKAKUL',
 'DISTRICT CO-OPERATIVE CENTRAL BANK VISAKHAPATNAM',
 'DISTRICT CO-OPERATIVE CENTRAL BANK VIZIANAGARAM',
 'DISTRICT CO-OPERATIVE CENTRAL BANKMEDAK',
 'DMK JAOLI BANK',
 'DOHA BANK QSC',
 'DOMBIVLI NAGARI SAHAKARI BANK',
 'DR BABASAHEB AMBEDKAR SAHAKARI BANK NASIK',
 'DR. AMBEDKAR NAGRIK SAHAKARI BANK MYDT GWALIOR',
 'DUMKA CENTRAL CO-OPERATIVE BANK',
 'DUNGARPUR CENTRAL CO-OPERATIVE BANK',
 'DURG RAJNANDGAON GRAMIN BANK (MERGED WITH CHHATTISGARH RAJYA GRAMIN BANK-CGBX)',
 'DURGAPUR MAHILA CO-OPERATIVE BANK',
 'DURGAPUR STEEL PEOPLES CO-OPERATIVE BANK',
 "DURGAPUR STEEL PEOPLES' CO-OPERATIVE BANK",
 'EENADU CO-OPERATIVE URBAN BANK',
 'ELLAQUAI DEHATI BANK',
 'EMIRATES NBD BANK',
 'EQUITAS SMALL FINANCE BANK',
 'ERNAKULAM DISTRICT CO-OPERATIVE BANK',
 'ERODE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'ESAF SMALL FINANCE BANK',
 'ESAF SMALL FINANCE BANK',
 'ETAH DISTRICT CO-OPERATIVE BANK',
 'ETAH URBAN CO-OPERATIVE BANK',
 'ETAWAH DISTRICT CO-OPERATIVE BANK ETWAH',
 'ETAWAH URBAN CO-OPERATIVE BANK ETAWAH',
 'EXCELLENT CO-OPERATIVE BANK',
 'EXPORT IMPORT BANK OF INDIA',
 'FAIZ MERCANTILE CO-OPERATIVE BANK, NASIK',
 'FARIDABAD CENTRAL CO-OPERATIVE BANK',
 'FARIDKOT CENTRAL CO-OPERATIVE BANK',
 'FARRUKHABAD DISTRICT CO-OPERATIVE BANK FATEHGARH',
 'FATEHABAD CENTRAL CO-OPERATIVE BANK',
 'FATEHGRAH SAHIB CENTRAL CO-OPERATIVE BANK',
 'FAZILKA CENTRAL CO-OPERATIVE. BANK',
 'FEDERAL BANK',
 'FEROKE CO-OPERATIVE BANK',
 'FEROZEPUR CENTRAL CO-OPERATIVE. BANK',
 'FINANCIAL CO-OPERATIVE BANK',
 'FINCARE SMALL FINANCE BANK',
 'FINCARE SMALL FINANCE BANK ',
 'FINGROWTH CO-OPERATIVE BANK',
 'FINO PAYMENTS BANK',
 'FIROZABAD ZILA SAHKARI BANK',
 'FIRSTRAND BANK',
 'FIRSTRAND BANK',
 'GADCHIROLI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'GADHINGLAJ URBAN CO-OPERATIVE BANK',
 "GANDEVI PEOPLE'S CO-OPERATIVE BANK",
 'GANDHI CO-OPERATIVE URBAN BANK',
 'GANDHIBAG SAHAKARI BANK  NAGPUR',
 'GANDHIDHAM CO-OPERATIVE BANK',
 'GANDHIDHAM MERCANTILE CO-OPERATIVE BANK',
 'GANDHINAGAR NAGRIK CO-OPERATIVE BANK',
 'GANDHINAGAR URBAN CO-OPERATIVE BANK',
 'GANGANAGAR KENDRIYA SAHAKARI BANK',
 'GAUHATI CO-OPERATIVE URBAN BANK',
 'GAYATRI CO-OPERATIVE URBAN BANK',
 'GENERAL POST OFFICE',
 'GEORGE TOWN CO-OPERATIVE BANK',
 "GHATAL PEOPLES' CO-OPERATIVE BANK",
 'GIRIDIH CENTRAL CO-OPERATIVE BANK',
 'GOA STATE CO-OPERATIVE BANK',
 'GOA URBAN CO-OPERATIVE BANK',
 'GODAVARI URBAN CO-OPERATIVE BANK',
 'GODAVARI URBAN CO-OPERATIVE BANK NASHIK',
 'GODHRA URBAN CO-OPERATIVE BANK',
 'GOKAK URBAN CO-OPERATIVE CREDIT BANK',
 'GONDAL NAGARIK SAHAKARI BANK',
 'GONDIA DISTRICT CENTRAL CO-OPERATIVE BANK GONDIA',
 'GOPALGANJ CENTRAL CO-OPERATIVEERTATIVE BANK',
 'GOPINATH PATIL PARSIK JANATA SAHAKARI BANK',
 'GOZARIA NAGRIK SAHAKARI BANK',
 "GRAIN MERCHANTS' CO-OPERATIVE BANK",
 'GRAMIN BANK OF ARYAVART',
 'GREATER BOMBAY CO-OPERATIVE BANK',
 'GUARDIAN SOUHARDA SAHAKARI BANK NIYAMITA',
 'GUJARAT AMBUJA CO-OPERATIVE BANK',
 'GUJARAT MERCANTILE CO-OPERATIVE BANK',
 'GUJARAT STATE CO-OPERATIVE BANK',
 'GULSHAN MERCANTILE URBAN CO-OPERATIVE BANK',
 'GUMLA SIMDEGA CENTRAL CO-OPERATIVE BANK',
 'GUNTUR CO-OPERATIVE URBAN BANK',
 'GUNTUR DISTRICT CO-OPERATIVE CENTRAL BANK',
 'GURDASPUR CENTRAL CO-OPERATIVE BANK',
 'GURGAON CENTRAL CO-OPERATIVE BANK',
 'GURGAON GRAMIN BANK',
 'GURUVAYUR CO-OPERATIVE URBAN BANK',
 'HADAGALI URBAN CO-OPERATIVE BANK',
 'HAMIRPUR DISTRICT CO-OPERATIVE BANK',
 'HANUMANGARH KENDRIYA SAHAKARI BANK',
 'HARDOI DISTRICT CO-OPERATIVE BANK',
 'HARIHARESHWAR SAHAKARI BANK',
 'HARYANA STATE CO-OPERATIVE APEX BANK',
 'HARYANA STATE CO-OPERATIVE APEX BANK',
 'HASSAN DISTRICT CO-OPERATIVE CENTRAL BANK',
 'HASTI CO-OPERATIVE BANK',
 'HAZARIBAG CENTRAL CO-OPERATIVE BANK',
 'HCBL CO-OPERATIVE BANK',
 'HDFC BANK',
 'HIMACHAL PRADESH GRAMIN BANK',
 'HIMACHAL PRADESH STATE CO-OPERATIVE BANK',
 'HIMACHAL PRADESH STATE CO-OPERATIVE BANK',
 'HIMATNAGAR NAGARIK SAHAKARI BANK',
 'HINDU CO-OPERATIVE BANK',
 'HINDUSTAN SHIPYARD STAFF CO-OPERATIVE BANK',
 'HINDUSTHAN CO-OPERATIVE BANK',
 'HISAR CENTRAL CO-OPERATIVE BANK HISAR',
 'HISSAR URBAN CO-OPERATIVE BANK',
 'HONGKONG & SHANGHAI BANKING CORPORATION',
 'HOOGHLY CO-OPERATIVE CREDIT BANK',
 'HOOGHLY DISTRICT CENTRAL CO-OPERATIVE BANK',
 'HOSHIARPUR CENTRAL CO-OPERATIVE BANK',
 'HOWRAH DISTRICT CENTRAL CO-OPERATIVE BANK',
 'HSBC BANK OMAN S.A.O.G',
 'HUBLI URBAN CO-OPERATIVE BANK',
 'HUTATMA SAHAKARI BANK',
 'HYDERABAD DISTRICT CO-OPERATIVE BANK',
 'ICHALKARANJI MERCHANTS CO-OPERATIVE BANK',
 'ICICI BANK',
 'IDBI',
 'IDFC FIRST BANK',
 'IDRBT',
 'IDUKKI DISTRICT CO-OPERATIVE BANK',
 'IDUKKI DISTRICT CO-OPERATIVE BANK',
 'ILKAL CO-OPERATIVE BANK',
 'IMPERIAL URBAN CO-OPERATIVE BANK',
 'IMPERIAL URBAN CO-OPERATIVE BANK JALANDHAR',
 'IMPHAL URBAN CO-OPERATIVE BANK',
 'INCOME TAX DEPT CO-OPERATIVE BANK',
 'INDAPUR URBAN CO-OPERATIVE BANK',
 'INDEPENDENCE CO-OPERATIVE BANK',
 'INDIA POST PAYMENTS BANK',
 'INDIA POST PAYMENTS BANK',
 'INDIAN BANK',
 'INDIAN OVERSEAS BANK',
 'INDORE CLOTH MARKET CO-OPERATIVE BANK',
 'INDORE PARASPAR SAHAKARI BANK',
 'INDORE PREMIER CO-OPERATIVE BANK INDORE',
 'INDORE SWAYAM MAHILA CO-OPERATIVE BANK',
 'INDRAPRASTHA SEHKARI BANK',
 'INDUSIND BANK',
 'INDUSTRIAL AND COMMERCIAL BANK OF CHINA',
 'INDUSTRIAL BANK OF KOREA',
 'INDUSTRIAL CO-OPERATIVE BANK',
 'ING VYSYA BANK',
 'INTEGRAL URBAN CO-OPERATIVE BANK',
 'IRINJALAKUDA TOWN CO-OPERATIVE BANK',
 'IRINJALAKUDA TOWN CO-OPERATIVE BANK',
 'J&K GRAMEEN BANK',
 'J&K STATE CO-OPERATIVE BANK',
 'JAGRUTI CO-OPERATIVE URBAN BANK',
 'JAIHIND URBAN CO-OP BANK',
 'JAIN CO-OPERATIVE BANK',
 'JAIN SAHAKARI BANK',
 'JAIPUR CENTRAL CO-OPERATIVE BANK',
 'JAISALMER CENTRAL CO-OPERATIVE BANK',
 'JALANDHAR CENTRAL CO-OPERATIVE BANK',
 'JALAUN DISTRICT CO-OPERATIVE BANK',
 'JALGAON DISTRICT CENTRAL CO-OPERATIVE BANK JALGAON',
 'JALGAON JANATA SAHKARI BANK',
 'JALGAON PEOPLES CO-OPERATIVE BANK',
 'JALNA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'JALNA MERCHANTS CO-OPERATIVE BANK',
 'JALNA PEOPLES CO-OPERATIVE BANK JALNA',
 'JALORE CENTRAL CO-OPERATIVE BANK JALORE',
 'JALORE NAGRIK SAHAKARI BANK',
 'JALPAIGURI CENTRAL CO-OPERATIVE BANK',
 'JAMIA CO-OPERATIVE BANK',
 'JAMMU AND KASHMIR BANK',
 'JAMMU CENTRAL CO-OPERATIVE BANK',
 'JAMNAGAR DISTRICT CO-OPERATIVE BANK',
 'JAMNAGAR MAHILA SAHAKARI BANK',
 'JAMNAGAR PEOPLES CO-OPERATIVE BANK',
 'JAMSHEDPUR URBAN CO-OPERATIVE BANK',
 'JANA SMALL FINANCE BANK',
 'JANAKALYAN CO-OPERATIVE BANK NASHIK',
 'JANAKALYAN SAHAKARI BANK',
 'JANALAXMI CO-OPERATIVE BANK',
 'JANASEVA CO-OPERATIVE BANK (NASHIK)',
 'JANASEVA SAHAKARI BANK',
 'JANASEVA SAHAKARI BANK (BORIVLI)',
 'JANATA CO OP BANK',
 'JANATA CO-OPERATIVE BANK',
 'JANATA CO-OPERATIVE BANK MALEGAON.',
 'JANATA CO-OPERATIVE BANK SADALGA',
 'JANATA SAHAKARI BANK (PUNE)',
 'JANATA SAHAKARI BANK AJARA',
 'JANATA SAHAKARI BANK AMRAVATI',
 'JANATHA SEVA CO-OPERATIVE BANK',
 'JANSEVA NAGARI SAHAKARI BANK MARYDIT',
 'JANSEWA URBAN CO-OPERATIVE BANK',
 'JAYNAGAR MOZILPUR PEOPLES CO-OPERATIVE BANK',
 'JAYSINGPUR UDGAON SAHAKARI BANK JAYSINGPUR',
 'JHAJJAR CENTRAL CO-OPERATIVE BANK',
 'JHALAWAR KENDRIYA SAHKARI BANK',
 'JHALAWAR NAGRIK SAHAKARI BANK',
 'JHARKAND GRAMIN BANK',
 'JHARKHAND STATE CO-OPERATIVE BANK',
 'JHARNESHWAR NAGRIK SAHAKARI BANK MARYADIT',
 'JHUNJHUNU KENDDRIYA SAHAKARI BAK',
 'JIJAMATA MAHILA SAHAKARI BANK',
 'JILA SAHAKARI BANK MYDT. GWALIOR',
 'JILA SAHAKARI KENDARIYA BANK MYDT KHANDWA',
 'JILA SAHAKARI KENDRIYA BANK MARYADIT BALAGHAT',
 'JILA SAHAKARI KENDRIYA BANK MARYADIT BETUL',
 'JILA SAHAKARI KENDRIYA BANK MARYADIT BHIND',
 'JILA SAHAKARI KENDRIYA BANK MARYADIT CHHINDWARA',
 'JILA SAHAKARI KENDRIYA BANK MARYADIT JAGDALPUR',

In [40]:
branch_name_list_cap2_1 = branch_name_list_cap2[-500:]
branch_name_list_cap2_1

['PARBHANI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'PARSHWANATH CO-OPERATIVE BANK',
 'PARWANOO URBAN CO-OPERATIVE BANK',
 'PASCHIM BANGA GRAMIN BANK',
 'PATAN CO-OPERATIVEEARTIVE BANK',
 'PATAN NAGARIK SAHAKARI BANK',
 'PATAN URBAN CO-OPERATIVE BANK PATAN',
 'PATHANMTHITTA DISTRICT CO-OPERATIVE BANK',
 'PATIALA CENTRAL CO-OPERATIVE BANK',
 'PATLIPUTRA CENTRAL CO-OPERATIVE BANK',
 'PAVANA SAHAKARI BANK',
 'PAYANGADI URBAN CO-OPERATIVE BANK',
 'PAYTM PAYMENTS BANK',
 'PAYYOLI CO-OPERATIVE URBAN BANK',
 'PEOPLES URBAN CO-OPERATIVE BANK',
 "PEOPLES' CO-OPERATIVE BANK",
 'PIMPALGAON MERCHANTS CO-OPERATIVE BANK',
 'PIMPRI CHINCHWAD SAHAKARI BANK MARYADIT,PIMPRI',
 'PITHORAGARH ZILA SAHKARI BANK',
 'POCHAMPALLY CO-OPERATIVE URBAN BANK',
 'PONDICHERRY STATE CO-OPERATIVE BANK',
 'POORNAWADI NAGRIK SAHAKARI BANK',
 'PRAGATHI CO-OPERATIVE BANK, BANGALORE',
 'PRAGATHI KRISHNA GRAMIN BANK',
 'PRAGATI CO-OPERATIVE BANK,THARA',
 'PRAGATI MAHILA NAGRIK SAHAKARI BANK BHILAI',
 'PRAGATI SAHAKARI BANK',
 'PRAKASAM DISTRICT CO-OPERATIVE CENTRAL BANK',
 'PRATHAMA BANK',
 'PRATHAMIK SHIKSHAK SAHAKARI BANK',
 'PRAVARA SAHAKARI BANK',
 'PRERANA CO-OPERATIVE BANK',
 'PRIME CO-OPERATIVE BANK',
 'PRIYADARSHANI NAGARI SAHAKARI BANK JALNA.',
 'PRODDATUR CO-OPERATIVE TOWN BANK',
 'PROGRESSIVE CO-OPERATIVE BANK',
 'PROGRESSIVE MERCANTILE CO-OPERATIVE BANK',
 'PROGRESSIVE URBAN CO-OPERATIVE BANK',
 'PT BANK MAYBANK INDONESIA TBK',
 'PUDUKOTTAI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'PUDUVAI BHARATHIAR GRAMA BANK',
 'PUNE CANTONMENT SAHAKARI BANK',
 'PUNE DISTRICT CENTRAL CO-OPERATIVE BANK',
 "PUNE MERCHANT'S CO-OPERATIVE BANK",
 "PUNE PEOPLE'S CO-OPERATIVE BANK",
 'PUNE URBAN CO-OPERATIVE BANK',
 'PUNJAB & MAHARASHTRA CO-OPERATIVE BANK',
 'PUNJAB & SIND BANK',
 'PUNJAB GRAMIN BANK',
 'PUNJAB NATIONAL BANK',
 'PUNJAB STATE CO-OPERATIVE BANK',
 'PURASAWALKAM CO-OPERATIVE BANK',
 'PURI URBAN CO-OPERATIVE BANK',
 'PURNEA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'PURULIA CENTRAL CO-OPERATIVE BANK',
 'PURVANCHAL CO-OPERATIVE BANK GAZIPUR',
 'PURVANCHAL GRAMIN BANK',
 'PUSAD URBAN CO-OPERATIVE BANK',
 'PUSAD URBAN COOPERATIVE BANK',
 'QATAR NATIONAL BANK SAQ',
 'QUILON CO-OPERATIVE URBAN BANK',
 'RABOBANK INTERNATIONAL',
 'RADHASOAMI URBAN CO-OPERATIVE BANK',
 'RAICHUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'RAIGAD DISTRICT CENTRAL CO-OPERATIVE BANK',
 'RAIGAD SAHAKARI BANK',
 'RAIGANJ CENTRAL CO-OPERATIVE BANK',
 'RAILWAY EMPLOYEES CO-OPERATIVE BANK',
 'RAILWAY EMPLOYEES CO-OPERATIVE BANKING SOCIETY',
 'RAIPUR URBAN MERCANTILE CO-OPERATIVE BANK',
 'RAJ LAXMI MAHILA URBAN CO-OPERATIVE BANK JAIPUR',
 'RAJADHANI CO-OPERATIVE URBAN BANK',
 'RAJAJINAGAR CO-OPERATIVE BANK',
 'RAJAPUR URBAN CO-OPERATIVE BANK',
 'RAJARAMBAPU SAHAKARI BANK',
 'RAJARAMBAPU SAHAKARI BANK PETH',
 'RAJARSHI SHAHU GOVT SERVANTS CO-OPERATIVE BANK KOLH',
 'RAJARSHI SHAHU SAHAKARI BANK',
 'RAJASTHAN MARUDHARA GRAMIN BANK',
 'RAJASTHAN MARUDHARA GRAMIN BANK',
 'RAJASTHAN STATE CO-OPERATIVE BANK',
 'RAJASTHAN URBAN CO-OPERATIVE BANK',
 'RAJDHANI NAGAR SAHKARI BANK',
 'RAJGURUNAGAR SAHAKARI BANK',
 'RAJGURUNAGAR SAHAKARI BANK',
 'RAJKOT COMMERCIAL CO-OPERATIVE BANK',
 'RAJKOT NAGARIK SAHAKARI BANK',
 'RAJKOT PEOPLES CO-OPERATIVE BANK',
 'RAJLAXMI URBAN CO-OPERATIVE BANK',
 'RAJPIPLA NAGARIK SAHAKARI BANK',
 'RAJPUTANA MAHILA URBAN CO-OPERATIVE BAK',
 'RAJSAMAND URBAN CO-OPERATIVE BANK',
 'RAMANATHAPURAM DISTRICT CENTRAL CO-OPERATIVE BANK',
 'RAMGARHIA CO-OPERATIVE BANK',
 'RAMPUR ZILA SAHKARI BANK',
 'RAMRAJYA SAHAKARI BANK',
 'RANCHI KHUNTI CENTRAL CO-OPERATIVE BANK',
 'RANDER PEOPLES CO-OPERATIVE BANK',
 'RANGA REDDY CO-OPERATIVE URBAN BANK',
 'RANI CHANNAMMA MAHILA SAHAKARI BANK',
 'RANIGANJ CO-OPERATIVE BANK',
 'RANILAXMIBAI URBAN CO-OPERATIVE BANK',
 'RANUJ NAGRIK SAHAKARI BANK',
 'RATNAGIRI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'RAVI COMMERCIAL URBAN CO-OPERATIVE BANK',
 'RBL BANK',
 'RENDAL SAHAKARI BANK RENDAL',
 'RESERVE BANK EMPLOYEES CO-OPERATIVE BANK',
 'RESERVE BANK OF INDIA',
 'RESERVE BANK OF INDIA',
 'REWARI CENTRAL CO-OPERATIVE BANK',
 'ROHIKA CENTRAL CO-OPERATIVE BANK MADHUBANI',
 'ROHTAK CENTRAL CO-OPERATIVE BANK',
 'ROPAR CENTRAL CO-OPERATIVE BANK',
 'ROYAL BANK OF SCOTLAND N.V.',
 'S S L S A KURUNDWAD URBAN BANK',
 'S.A.S NAGAR CENTRAL CO-OPERATIVE BANK',
 'S.S.K CO-OPERATIVE BANK',
 'SABARKANTHA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SADGURU GAHININATH URBAN CO-OPERATIVE BANK AKLUJ',
 'SADGURU NAGRIK SAHAKARI BANK MARYADIT',
 'SADHANA SAHAKARI BANK',
 'SADHANA SAHAKARI BANK PUNE',
 'SAHEBRAO DESHMUKH CO-OPERATIVE BANK',
 'SAHYADRI SAHAKARI BANK',
 'SAIBABA NAGARI SAHAKARI BANK',
 'SAIDAPET CO-OPERATIVE URBAN BANK',
 'SALAL SARVODAYA NAGARIK SAHAKARI BANK',
 'SALEM DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SAMARTH SAHAKARI BANK',
 'SAMARTH SAHAKARI BANK',
 'SAMASTIPUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SAMATA CO-OPERATIVE DEVELOPMENT BANK',
 'SAMATA SAHAKARI BANK',
 'SAMBALPUR DISTRICT CO-OPERATIVE CENTRAL BANK',
 'SAMPADA SAHAKARI BANK',
 'SAMRUDDHI CO-OPERATIVE BANK',
 'SANDUR PATTANA SOUHARDA SAHAKARI BANK NIYAMITHA',
 'SANGAMNER MERCHANTS CO-OPERATIVE BANK',
 'SANGHAMITRA CO-OPERATIVE URBAN BANK',
 'SANGLI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SANGLI SAHAKARI BANK',
 'SANGLI URBAN CO-OPERATIVE BANK',
 'SANGRUR CENTRAL CO-OPERATIVE BANK',
 'SANKHEDA NAGARIK SAHAKARI BANK',
 'SANMATI SAHAKARI BANK',
 'SANMITRA SAHAKARI BANK',
 'SANMITRA URBAN CO-OPERATIVE BANK',
 'SANT SOPANKAKA SAHAKARI BANK',
 'SANT SOPANKAKA SAHAKARI BANK',
 'SANTRAGACHI CO-OPERATIVE BANK',
 'SAPTAGIRI GRAMEENA BANK',
 'SARAKARI NAUKARARA SAHAKARI BANK NIYAMT VIJAYAPURA',
 'SARANGPUR CO-OPERATIVE BANK',
 'SARASPUR NAGARIK CO-OPERATIVE BANK',
 'SARASPUR NAGRIK CO-OPERATIVE BANK',
 'SARASWAT CO-OPERATIVE BANK',
 'SARASWATI SAHAKARI BANK',
 "SARDAR BHILADWALA PARDI PEOPLE'S CO-OPERATIVE BANK",
 'SARDAR VALLABHBHAI SAHAKARI BANK',
 'SARDARGANJ MERCANTILE CO-OPERATIVE BANK',
 'SARDARGUNJ MERCANTILE CO-OPERATIVE BANK PATAN',
 'SARJERAODADA NAIK SHIRALA SAHAKARI BANK',
 'SARVA HARYANA GRAMIN BANK',
 'SARVA UP GRAMIN BANK',
 'SARVODAYA CO-OPERATIVE BANK MUMBAI',
 'SARVODAYA COMMERICAL CO-OPERATIVE BANK',
 'SARVODAYA NAGRIK SAHKARI BANK',
 'SARVODAYA SAHAKARI BANK',
 'SASARAM BHABHUA CENTRAL CO-OPERATIVE BANK',
 'SATANA MERCHANTS CO-OPERATIVE BANK, SATANA',
 'SATARA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SATARA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SATARA SAHAKARI BANK LTD',
 'SATARA SHAKARI BANK',
 'SATHAMBA PEOPLES CO-OPERATIVE BANK',
 'SAURASHTRA CO-OPERATIVE BANK',
 'SAURASHTRA GRAMIN BANK',
 'SAWAI MADHOPUR KENDRIYA SAHAKARI BANK',
 'SAWAI MADHOPUR URBAN CO-OPERATIVE BANK',
 'SBER BANK',
 'SECUNDERABAD CO-OPERATIVE URBAN BANK',
 'SECUNDERABAD MERCANTILE CO-OPERATIVE URBAN BANK',
 'SEHORE NAGRIK SAHAKARI BANK SEHORE',
 'SEVA VIKAS CO-OPERATIVE BANK',
 'SEVALIA URBAN CO-OPERATIVE BANK',
 'SHAMRAO VITHAL CO-OPERATIVE BANK',
 'SHANKAR NAGARI SAHAKARI BANK',
 'SHANKARRAO MOHITE PATIL SAHAKRI BANK',
 'SHARAD NAGARI SAHAKARI BANK',
 'SHARAD SAHAKARI BANK',
 'SHIHORI NAGARIK SAHAKARI BANK',
 'SHIKSHAK SAHAKARI BANK',
 'SHIKSHAK SAHAKARI BANK',
 'SHILLONG CO-OPERATIVE URBAN BANK',
 'SHIMLA URBAN CO-OPERATIVE BANK',
 'SHIMOGA DISTRICT CO-OPERATIVE CENTRAL BANK',
 'SHINHAN BANK',
 'SHIRPUR PEOPLES CO-OPERATIVE BANK',
 'SHIVAJI NAGARI SAHAKARI BANK',
 'SHIVAJIRAO BHOSALE SAHAKARI BANK',
 'SHIVALIK MERCANTILE CO-OPERATIVE BANK',
 'SHIVALIK MERCANTILE CO-OPERATIVE BANK',
 'SHIVDAULAT SAHAKARI BANK',
 'SHORANUR CO-OPERATIVE URBAN BANK',
 'SHRAMIK NAGRIK SAHKARI BANK',
 'SHREE BALAJI URBAN CO-OPERATIVE BANK',
 'SHREE BASAVESHWAR CO-OPERATIVE BANK',
 'SHREE BHARAT CO-OPERATIVE BANK',
 'SHREE BHAVNAGAR NAGRIK SAHAKARI BANK',
 'SHREE BOTAD MERCANTILE CO-OPERATIVE BANK',
 'SHREE CO-OPERATIVE BANK',
 'SHREE DHARATI CO-OPERATIVE BANK',
 'SHREE KADI NAGARIK SAHAKARI BANK',
 'SHREE LAXMI CO-OPERATIVE BANK',
 'SHREE MAHALAXMI MERCANTILE CO-OPERATIVE BANK',
 'SHREE MAHALAXMI URBAN CO-OPERATIVE CREDIT BANK',
 'SHREE MAHAVIR SAHAKARI BANK',
 'SHREE MAHESH CO-OPERATIVE BANK NASHIK',
 'SHREE MAHUVA NAGRIK SAHAKARI BANK',
 'SHREE PANCHGANGA NAGARI SAHAKARI BANK',
 'SHREE PARSWANATH CO-OPERATIVE BANK',
 'SHREE SAMARTH SAHAKARI BANK NASHIK',
 'SHREE SHARADA SAHAKARI BANK',
 'SHREE THYAGARAJA CO-OPERATIVE BANK',
 'SHREE VARDHAMAN SAHAKARI BANK',
 'SHREE VEERSHAIV CO-OPERATIVE BANK',
 'SHREE WARANA SAHAKARI BANK',
 'SHRI ADINATH CO-OPERATIVE BANK',
 'SHRI ARIHANT CO-OPERATIVE BANK',
 'SHRI BASAVESHWAR SAHAKARI BANK NYT.BAGALKOT',
 'SHRI BHARAT URBAN CO-OPERATIVE BANK JAYSINGPUR',
 'SHRI CHHANI NAGRIK SAHKARI BANK',
 'SHRI CHHATRAPATI RAJASHRI SHAHU URBAN CO-OPERATIVE BANK',
 'SHRI GANESH SAHAKARI BANK',
 'SHRI KANYAKA NAGARI SAHAKARI BANK',
 'SHRI MAHALAXMI CO-OPERATIVE BAK KOLHAPUR',
 'SHRI MAHAVIR URBAN CO-OPERATIVE BANK',
 'SHRI MAHILA SEWA SAHAKARI BANK',
 'SHRI RAJKOT DISTRICT CO-OPERATIVE BANK',
 'SHRI RUKMINI SAHAKARI BANK',
 'SHRI VEERSHAIV CO-OPERATIVE BANK',
 'SHRI VINAYAK SAHAKARI BANK',
 'SHRIKRISHNA CO-OPERATIVE BANK',
 'SHRIMANT MALOJIRAJE SAHAKARI BANK',
 'SHRIPATRAODADA SAHAKARI BANK',
 'SHRIRAM URBAN CO-OPERATIVE BANK',
 'SHUBHALAKSHMI MAHILA CO-OPERATIVE BANK',
 'SHUSHRUTI SOUHARDA SAHAKARA BANK NIYAMITA',
 'SIDDHESHWAR URBAN CO-OPERATIVE BANK MARYADIT SILLOD',
 'SIDDHI CO-OPERATIVE BANK',
 'SIHOR MERCANTILE CO-OPERATIVE BANK',
 'SIHOR NAGARIK SAHAKARI BANK',
 'SIKAR KENDRIYA SAHAKARI BANK',
 'SIKAR URBAN CO-OPERATIVE BANK',
 'SIKKIM STATE CO-OPERATIVE BANK',
 'SIND CO-OPERATIVE URBAN BANK',
 'SINDHUDURG  DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SINDHUDURG DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SINGHBHUM DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SIR M VISVESVARAYA CO-OPERATIVE BANK',
 'SIR M VISVESVARAYA CO-OPERATIVE BANK',
 'SIRCILLA CO-OPERATIVE URBAN BANK',
 'SIROHI CENTRAL CO-OPERATIVE BANK',
 'SIRSA CENTRAL CO-OPERATIVE BANK',
 'SIRSI URBAN SAHAKARI BANK',
 'SITAMARHI CENTRAL CO-OPERATIVE BANK',
 'SIVAGANGAI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SIWAN CENTRAL CO-OPERATIVE BANK',
 'SMALL INDUSTRIES DEVELOPMENT BANK OF INDIA',
 'SMRITI NAGRIK SAHAKARI BANK',
 'SOCIAL CO-OPERATIVE BANK',
 'SOCIETE GENERALE',
 'SOLAPUR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SOLAPUR JANATA SAHAKARI BANK',
 'SOLAPUR JANATA SAHAKARI BANK',
 'SOLAPUR SIDDHESHWAR SAHAKARI BANK',
 'SOLAPUR SOCIAL URBAN CO-OPERATIVE BANK',
 'SONALI BANK',
 'SONBHADRA NAGAR SAHKARI BANK',
 'SONEPAT CENTRAL CO-OPERATIVE BANK',
 'SONEPAT URBAN CO-OPERATIVE BANK',
 'SOUBHAGYA MAHILA SOUHARDHA SAHAKARI BANK',
 'SOUTH CANARA DISTRICT CENTRAL CO-OPERATIVE BANK',
 'SOUTH INDIAN BANK',
 'SREE CHARAN SOUHARDHA CO-OPERATIVE BANK',
 'SREE NARAYANA GURU CO-OPERATIVE BANK',
 'SREE SUBRAMANYESWARA CO-OPERATIVE BANK',
 'SREENIDHI SOUHARDA SAHAKARI BANK NIYAMITHA',
 'SRI BANASHANKARI MAHILA CO-OPERATIVE BANK',
 'SRI CHANNABASAVASWAMY SOUHARDHA PATTANA SAHAK BANK',
 'SRI KANNIKAPARAMESWARI CO-OPERATIVE BANK',
 'SRI POTTI SRIRAMULU NELLORE DCCB',
 'SRI SUDHA CO-OPERATIVE BANK',
 'SRI VASAVAMBA CO-OPERATIVE BANK',
 'STANDARD CHARTERED BANK',
 'STATE BANK OF BIKANER AND JAIPUR',
 'STATE BANK OF HYDERABAD',
 'STATE BANK OF INDIA',
 'STATE BANK OF MAURITIUS',
 'STATE BANK OF MYSORE',
 'STATE BANK OF PATIALA',
 'STATE BANK OF TRAVANCORE',
 'STATE TRANSPORT CO-OPERATIVE BANK',
 'STERLING URBAN CO-OPERATIVE BANK',
 'SUBHADRA LOCAL AREA BANK',
 'SUCO SOUHARDA SAHAKARI BANK',
 'SUDHA CO-OPERATIVE URBAN BANK',
 'SULAIMANI CO-OPERATIVE BANK',
 "SULTAN'S BATTERY CO-OPERATIVE URBAN BANK",
 'SUMERPUR MERCANTILE URBAN CO-OPERATIVE BANK',
 'SUMITOMO MITSUI BANKING CORPORATION',
 'SUNDARLAL SAWAJI URBAN CO-OPERATIVE BANK',
 'SURAT DISTRICT CO-OPERATIVE BANK',
 'SURAT MERCANTILE CO-OPERATIVE BANK',
 'SURAT NATIONAL CO-OPERATIVE BANK',
 "SURAT PEOPLE'S CO-OPERATIVE BANK",
 'SURENDRANAGAR DISTRICT CO-OPERATIVE BANK',
 'SURYODAY SMALL FINANCE BANK',
 'SUTEX CO-OPERATIVE BANK',
 'SUTLEJ GRAMIN BANK',
 'SUVARNAYUG SAHAKARI BANK',
 'SYNDICATE BANK',
 'TALIPARAMBA CO-OPERATIVE URBAN BANK',
 'TAMILNADU CIRCLE POSTAL CO-OPERATIVE BANK',
 'TAMILNADU INDUSTRIAL CO-OPERATIVE BANK',
 'TAMILNADU MERCANTILE BANK',
 'TAMILNADU STATE APEX CO-OPERATIVE BANK',
 'TAMLUK-GHATAL CENTRAL CO-OPERATIVE BANK',
 'TAPINDU URBAN CO-OPERATIVE BANK',
 'TARN TARAN CENTRAL CO-OPERATIVE BANK',
 'TASGAON URBAN CO-OPERATIVE BANKTASGAON',
 'TEHRI GARHWAL ZILA SAHKARI BANK',
 'TELANGANA GRAMEENA BANK',
 'TELANGANA STATE CO-OPERATIVE APEX BANK',
 'TEXTILE CO-OPERATIVE BANK',
 'TEXTILE CO-OPERATIVE BANK OF SURAT',
 'TEXTILE MANUFACTURERS CO-OPERATIVE BANK',
 'TEXTILE TRADERS CO-OPERATIVE BANK',
 'TEXTILE TRADERS CO-OPERATIVE BANK',
 'THANE BHARAT SAHAKARI BANK',
 'THANE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'THANE JANATA SAHAKARI BANK',
 'THANJAVUR CENTRAL CO-OPERATIVE BANK',
 'THE UNION CO-OPERATIVE BANK MAHINAGAR',
 'THE VIJAY CO-OPERATIVE BANK',
 'THIRUVANANTHAPURAM DISTRICT CO-OPERATIVE BANK',
 'THIRUVANNAMALAI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'THODUPUZHA URBAN CO-OPERATIVE BANK',
 'THOOTHUKUDI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'THRISSUR DISTRICT CO-OPERATIVE BANK',
 'THRISSUR DISTRICT CO-OPERATIVE BANK',
 'TIRUCHIRAPALLI DIST. CENT CO-OPERATIVE BANK',
 'TIRUNELVELI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'TIRUPATI URBAN CO-OPERATIVE BANK',
 'TIRUR URBAN CO-OPERATIVE BANK',
 'TIRUVALLUR CO-OPERATIVE URBAN BANK',
 'TOWN CO-OPERATIVE BANK HOSKOTE',
 'TRANSPORT CO-OPERATIVE BANK',
 'TRICHUR URBAN CO-OPERATIVE BANK',
 'TRIPURA GRAMIN BANK',
 'TRIPURA STATE CO-OPERATIVE BANK',
 'TRIVANDRUM CO-OPERATIVE URBAN BANK',
 'TUMKUR DISTRICT CENTRAL BANK',
 "TUMKUR GRAIN MERCHANT'S CO-OPERATIVEERATE BANK",
 'TURA URBAN CO-OPERATIVE BANK',
 'UCO BANK',
 'UDAIPUR CENTRAL CO-OPERATIVE BANK',
 'UDAIPUR MAHILA SAMRIDHI URBAN CO-OPERATIVE BANK',
 'UDAIPUR MAHILA URBAN CO-OPERATIVE BANK',
 'UDAIPUR URBAN CO-OPERATIVE BANK',
 'UDHAM SINGH NAGAR DISTRICT CO-OPERATIVE BANK',
 'UJJIVAN SMALL FINANCE BANK',
 'UJJIVAN SMALL FINANCE BANK',
 'UMA CO-OPERATIVE BANK',
 'UMIYA URBAN CO-OPERATIVE BANK',
 'UMRETH URBAN CO-OPERATIVE BANK',
 'UNA PEOPLES CO-OPERATIVE BANK',
 'UNAVA NAGRIK SAHAKARI BANK',
 'UNION BANK OF INDIA',
 'UNION CO-OPERATIVE BANK',
 'UNITED BANK OF INDIA',
 'UNITED CO-OPERATIVE BANK',
 'UNITED INDIA CO-OPERATIVE BANK',
 'UNITED MERCANTILE CO-OPERATIVE BANK',
 'UNITED OVERSEAS BANK',
 'UNIVERSAL CO-OPERATIVE URBAN BANK',
 'UNJHA NAGARIK SAHAKARI BANK',
 'URBAN CO OPERATIVA BANK SIDDHARTHNAGAR',
 'URBAN CO-OPERATIVE BANK BAREILLY',
 'URBAN CO-OPERATIVE BANK BASTI',
 'URBAN CO-OPERATIVE BANK BUDAUN',
 'URBAN CO-OPERATIVE BANK DEHRADUN',
 'URBAN CO-OPERATIVE BANK DHARANGAON',
 'URBAN CO-OPERATIVE BANK MAINPURI',
 'URBAN CO-OPERATIVE BANK NO 1758 PERINTHALMANNA',
 'URBAN CO-OPERATIVE BANK PERINTHALMANNA',
 'URBAN CO-OPERATIVE BANK ROURKELA',
 'URBAN CO-OPERATIVE BANK SAHARANPUR',
 'UTKAL CO-OPERATIVE BANKING SOCIETY',
 'UTKAL GRAMEEN BANK',
 'UTKARSH SMALL FINANCE BANK',
 'UTTAR BIHAR GRAMIN BANK',
 'UTTAR PRADESH CO-OPERATIVE BANK',
 'UTTAR PRADESH CO-OPERATIVE BANK',
 'UTTARAKHAND GRAMIN BANK',
 'UTTARAKHAND STATE CO-OPERATIVE BANK',
 'UTTARBANGA KSHETRIYA GRAMIN BANK',
 'UTTARKASHI ZILA SAHKARI BANK',
 'UTTARPARA CO-OPERATIVE BANK',
 'UTTARSANDA PEOPLES CO-OPERATIVE BANK UTTARSANDA',
 'UTTRAKHAND CO-OPERATIVE BANK',
 'VAIDYANATH URBAN CO-OPERATIVE BANK',
 'VAIJAPUR MERCHANTS CO-OPERATIVE BANK',
 'VAISH CO-OPERATIVE ADARSH BANK',
 'VAISH CO-OPERATIVE NEW BANK',
 'VAISHALI DISTRICT CENTRAL CO-OPERATIVE BANK',
 'VAISHALI SHAHARI VIKAS CO-OP BANK',
 'VAISHYA NAGARI SAHAKARI BANK',
 'VAISHYA SAHAKARI BANK MUMBAI',
 'VALLABH VIDYANAGAR COMMERCIAL BANK',
 'VALMIKI URBAN CO-OPERATIVE BANK,PATHRI',
 'VALSAD DISTRICT CENTRAL CO-OPERATIVE BANK',
 'VANANCHAL GRAMIN BANK',
 'VARACHHA CO-OPERATIVE BANK',
 'VARDHAMAN (MAHILA) CO-OPERATIVE URBAN BANK',
 'VARDHAMAN CO-OPERATIVE BANK',
 'VASAI JANATA SAHAKARI BANK',
 'VASAI JANATA SAHAKARI BANK',
 'VASAI VIKAS SAHAKARI BANK',
 'VEERASHAIVA SAHAKARI BANK',
 'VELLALA CO-OPERATIVE BANK',
 'VELLORE DISTRICT CENTRAL CO-OPERATIVE BANK',
 'VERAVAL MERCANTILE CO-OPERATIVE BANK',
 'VERAVAL PEOPLES CO-OPERATIVE BANK',
 'VIDARBHA MERCHANTS URBAN CO-OPERATIVE BANK',
 'VIDHARBHA KOKAN GRAMIN BANK',
 'VIDYA SAHAKARI BANK',
 'VIDYANAND CO-OPERATIVE BANK',
 'VIDYASAGAR CENTRAL CO-OPERATIVE BANK',
 'VIJAY CO-OPERATIVE BANK',
 'VIJAY COMMERCIAL CO-OPERATIVE BANK',
 'VIJAYA BANK',
 'VIKAS SAHAKARI BANK LIMITED SOLAPUR',
 'VIKAS SOUHARDA CO-OPERATIVE BANK',
 'VIKRAMADITYA NAGRIK SAHAKARI BANK',
 'VILLUPURAM DISTRICT CENTRAL CO-OPERATIVE BANK',
 'VIMA KAMGAR CO-OPERATIVE BANK',
 'VIRAMGAM MERCANTILE CO-OPERATIVE BANK',
 'VIRUDHUNAGAR DISTRICT CENTRAL CO-OPERATIVE BANK',
 'VISAKHAPATNAM CO-OPERATIVE BANK',
 'VISHWAS CO-OPERATIVE BANK',
 'VISHWESHWAR SAHAKARI BANK',
 'VITA MERCHANTS CO-OPERATIVE BANK',
 'VITA URBAN CO-OPERATIVE BANK',
 'VIVEKANAND NAGRIK SAHKARI BANK MYDT',
 'VYAPARI SAHAKARI BANK MARYADIT SOLAPUR',
 'VYAPARIK AUDHYOGIK SAHAKARI BANK KTD',
 'VYAVSAYAK SAHKARI BANK',
 'WAGHODIA URBAN CO-OPERATIVE BANK',
 'WAI URBAN CO-OPERATIVE BANK',
 'WANA NAGIRIK SAHAKARI BANK',
 'WARANGAL DISTRICT CO-OPERATIVEERATIVE CENTRAL BANK',
 'WARANGAL URBAN CO-OPERATIVEERATIVE BANK',
 'WARDHA ZILLA PARISHAD EMP URBAN CO-OPERATIVE BANK',
 'WARDHAMAN URBAN CO-OPERATIVE BANK NAGPUR',
 'WASHIM URBAN CO-OPERATIVE BANK.',
 'WAYANAD DISTRICT CO-OPERATIVE BANK',
 'WEST BENGAL STATE CO-OPERATIVE BANK',
 'WESTPAC BANKING CORPORATION',
 "WOMEN'S CO-OPERATIVE BANK",
 'WOORI BANK',
 'YADAGIRI LAKSHMI NARSIMHA SWAMY CO-OPERATIVE URBAN BANK ',
 'YAMUNA NAGAR CENTRAL CO-OPERATIVE BANK',
 'YASHWANT CO-OPERATIVE BANK',
 'YAVATMAL DISTRICT CENTRAL CO-OPERATIVE BANK',
 'YAVATMAL MAHILA SAHAKARI BANK',
 'YAVATMAL URBAN CO-OPERATIVE BANK',
 'YES BANK',
 'YESHWANT NAGARI SAHAKARI BANK',
 'YOUTH DEVELOPMENT CO-OPERATIVE BANK',
 'ZILA SAHAKARI BANK LUCKNOW',
 'ZILA SAHKARI BANK BAREILLY',
 'ZILA SAHKARI BANK BIJNOR',
 'ZILA SAHKARI BANK BULANDSHAHAR',
 'ZILA SAHKARI BANK GARHWAL KOTDWAR',
 'ZILA SAHKARI BANK GHAZIABAD',
 'ZILA SAHKARI BANK GORAKHPUR',
 'ZILA SAHKARI BANK HARIDWAR',
 'ZILA SAHKARI BANK JHANSI',
 'ZILA SAHKARI BANK KANPUR',
 'ZILA SAHKARI BANK LAKHIMPUR KHERI',
 'ZILA SAHKARI BANK LALITPUR',
 'ZILA SAHKARI BANK MATHURA',
 'ZILA SAHKARI BANK MAU',
 'ZILA SAHKARI BANK MEERUT',
 'ZILA SAHKARI BANK MIRZAPUR',
 'ZILA SAHKARI BANK MORADABAD',
 'ZILA SAHKARI BANK UNNAO',
 'ZOROASTRIAN CO-OPERATIVE BANK']

In [41]:
len(branch_name_list_cap2)

1431

In [42]:
bank_branch_code2

      Code                                       bank_name
0     AACX                         Akhand Anand Co.op Bank
1     ABBL                                         AB Bank
2     ABCX   Aurangabad District Central Co-operative Bank
3     ABDX  Dr. Ambedkar Nagrik Sahakari Bank Mydt Gwalior
4     ABEX         Andhra Bank Employees Co-operative Bank
...    ...                                             ...
1426  ZSHX                      Zila Sahkari Bank Haridwar
1427  ZSJX                        Zila Sahkari Bank Jhansi
1428  ZSKX                        Zila Sahkari Bank Kanpur
1429  ZSLX               Zila Sahkari Bank Lakhimpur Kheri
1430  ZSMX                        Zila Sahkari Bank Meerut

[1431 rows x 2 columns]

In [43]:
inter_11 = []
for i in All_Banks_3:
    if i in branch_name_list_cap2:
        inter_11.append(i)

len(inter_11)

41

In [44]:
inter_21 = []
for i in All_Banks_2:
    if i in branch_name_list_cap2:
        inter_21.append(i)
len(inter_21)

59

In [45]:
Foreign_Banks_3 = ["AB BANK", "ABU DHABI COMMERCIAL BANK" ,"AMERICAN EXPRESS BANKING CORP", "AUSTRALIA AND NEW ZEALAND BANKING GROUP" ,"BANK OF AMERICA" ,"BANK OF BAHREIN AND KUWAIT" ,"BANK OF CEYLON", "BANK OF NOVA SCOTIA", "BARCLAYS BANK" ,"BNP PARIBAS BANK" ,"CITI BANK" ,"COMMONWEALTH BANK OF AUSTRALIA", "COOPERATIEVE RABOBANK U.A." ,"CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK", "CREDIT SUISSE AG", "CTBC BANK CO., LTD" ,"DBS BANK INDIA LTD", "DEUTSCHE BANK" ,"FIRSTRAND BANK" ,"HONGKONG & SHANGHAI BANKING CORPORATION" ,"HSBC BANK OMAN S.A.O.G." ,"INDUSTRIAL AND COMMERCIAL BANK OF CHINA", "JP MORGAN CHASE BANK NA", "JSC VTB BANK", "KBC BANK NV" ,"KRUNGTHAI BANK" ,"MASHREQ BANK", "MIZUHO BANK", "MUFG BANK LTD", "NATIONAL AUSTRALIA BANK", "NatWest Markets Plc", "SBER BANK" ,"SBM BANK (INDIA) LTD" ,"SHINHAN BANK" ,"SOCIETE GENERALE" ,"SONALI BANK", "STANDARD CHARTERED BANK" ,"UBS AG" ,"UNITED OVERSEAS BANK" ,"WOORI BANK", "SUMITOMO MITSUI BANKING CORPORATION", "WESTPAC BANKING CORPORATION", "PT BANK MAYBANK INDONESIA TBK", "DOHA BANK QSC", "INDUSTRIAL BANK OF KOREA", "FIRST ABU DHABI BANK PJSC", "KEB HANA BANK", "Qatar National Bank SAQ", "EMIRATES NBD BANK", "BANK OF CHINA LTD", "KOOKMIN BANK"]
Private_Banks_3 = ["AXIS BANK", "CITY UNION BANK", "CATHOLIC SYRIAN BANK", "DCB BANK", "FEDERAL BANK", "HDFC BANK", "ICICI BANK", "IDBI", "INDUSIND BANK", "ING VYSYA BANK", "JAMMU AND KASHMIR BANK", "KARNATAKA BANK" ,"KARUR VYSYA BANK" ,"KOTAK MAHINDRA BANK", "LAXMI VILAS BANK" ,"NAINITAL BANK LTD", "RBL BANK", "SOUTH INDIAN BANK", "TAMILNADU MERCANTILE BANK", "DHANLAXMI BANK" ,"YES BANK", "IDFC FIRST BANK", "BANDHAN BANK"]
Public_Banks_3 = ["ALLAHABAD BANK", "ANDHRA BANK", "BANK OF BARODA", "BANK OF INDIA", "BANK OF MAHARASHTRA", "CANARA BANK", "CENTRAL BANK OF INDIA", "CORPORATION BANK", "DENA BANK", "IDBI", "INDIAN BANK", "INDIAN OVERSEAS BANK", "ORIENTAL BANK OF COMMERCE", "PUNJAB & SIND BANK", "PUNJAB NATIONAL BANK", "STATE BANK OF BIKANER AND JAIPUR", "STATE BANK OF HYDERABAD", "STATE BANK OF INDIA", "STATE BANK OF MYSORE", "STATE BANK OF PATIALA", "STATE BANK OF TRAVANCORE", "SYNDICATE BANK", "UCO BANK", "UNION BANK OF INDIA", "UNITED BANK OF INDIA", "VIJAYA BANK", "BHARATIYA MAHILA BANK"]
Small_Finance_3= ["CAPITAL SMALL FINANCE BANK", "EQUITAS SMALL FINANCE BANK", "ESAF SMALL FINANCE BANK", "FINCARE SMALL FINANCE BANK", "SURYODAY SMALL FINANCE BANK", "UJJIVAN SMALL FINANCE BANK", "AU SMALL FINANCE BANK", "NORTH EAST SMALL FINANCE BANK", "UTKARSH SMALL FINANCE BANK", "JANA SMALL FINANCE BANK"]
All_Banks_4 = Foreign_Banks_3 + Private_Banks_3 + Public_Banks_3 + Small_Finance_3
All_Banks_4 = [x.upper() for x in All_Banks_4]
All_Banks_4

['AB BANK',
 'ABU DHABI COMMERCIAL BANK',
 'AMERICAN EXPRESS BANKING CORP',
 'AUSTRALIA AND NEW ZEALAND BANKING GROUP',
 'BANK OF AMERICA',
 'BANK OF BAHREIN AND KUWAIT',
 'BANK OF CEYLON',
 'BANK OF NOVA SCOTIA',
 'BARCLAYS BANK',
 'BNP PARIBAS BANK',
 'CITI BANK',
 'COMMONWEALTH BANK OF AUSTRALIA',
 'COOPERATIEVE RABOBANK U.A.',
 'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK',
 'CREDIT SUISSE AG',
 'CTBC BANK CO., LTD',
 'DBS BANK INDIA LTD',
 'DEUTSCHE BANK',
 'FIRSTRAND BANK',
 'HONGKONG & SHANGHAI BANKING CORPORATION',
 'HSBC BANK OMAN S.A.O.G.',
 'INDUSTRIAL AND COMMERCIAL BANK OF CHINA',
 'JP MORGAN CHASE BANK NA',
 'JSC VTB BANK',
 'KBC BANK NV',
 'KRUNGTHAI BANK',
 'MASHREQ BANK',
 'MIZUHO BANK',
 'MUFG BANK LTD',
 'NATIONAL AUSTRALIA BANK',
 'NATWEST MARKETS PLC',
 'SBER BANK',
 'SBM BANK (INDIA) LTD',
 'SHINHAN BANK',
 'SOCIETE GENERALE',
 'SONALI BANK',
 'STANDARD CHARTERED BANK',
 'UBS AG',
 'UNITED OVERSEAS BANK',
 'WOORI BANK',
 'SUMITOMO MITSUI BANKING CORPORATION',
 'WESTPAC BANKING CORPORATION',
 'PT BANK MAYBANK INDONESIA TBK',
 'DOHA BANK QSC',
 'INDUSTRIAL BANK OF KOREA',
 'FIRST ABU DHABI BANK PJSC',
 'KEB HANA BANK',
 'QATAR NATIONAL BANK SAQ',
 'EMIRATES NBD BANK',
 'BANK OF CHINA LTD',
 'KOOKMIN BANK',
 'AXIS BANK',
 'CITY UNION BANK',
 'CATHOLIC SYRIAN BANK',
 'DCB BANK',
 'FEDERAL BANK',
 'HDFC BANK',
 'ICICI BANK',
 'IDBI',
 'INDUSIND BANK',
 'ING VYSYA BANK',
 'JAMMU AND KASHMIR BANK',
 'KARNATAKA BANK',
 'KARUR VYSYA BANK',
 'KOTAK MAHINDRA BANK',
 'LAXMI VILAS BANK',
 'NAINITAL BANK LTD',
 'RBL BANK',
 'SOUTH INDIAN BANK',
 'TAMILNADU MERCANTILE BANK',
 'DHANLAXMI BANK',
 'YES BANK',
 'IDFC FIRST BANK',
 'BANDHAN BANK',
 'ALLAHABAD BANK',
 'ANDHRA BANK',
 'BANK OF BARODA',
 'BANK OF INDIA',
 'BANK OF MAHARASHTRA',
 'CANARA BANK',
 'CENTRAL BANK OF INDIA',
 'CORPORATION BANK',
 'DENA BANK',
 'IDBI',
 'INDIAN BANK',
 'INDIAN OVERSEAS BANK',
 'ORIENTAL BANK OF COMMERCE',
 'PUNJAB & SIND BANK',
 'PUNJAB NATIONAL BANK',
 'STATE BANK OF BIKANER AND JAIPUR',
 'STATE BANK OF HYDERABAD',
 'STATE BANK OF INDIA',
 'STATE BANK OF MYSORE',
 'STATE BANK OF PATIALA',
 'STATE BANK OF TRAVANCORE',
 'SYNDICATE BANK',
 'UCO BANK',
 'UNION BANK OF INDIA',
 'UNITED BANK OF INDIA',
 'VIJAYA BANK',
 'BHARATIYA MAHILA BANK',
 'CAPITAL SMALL FINANCE BANK',
 'EQUITAS SMALL FINANCE BANK',
 'ESAF SMALL FINANCE BANK',
 'FINCARE SMALL FINANCE BANK',
 'SURYODAY SMALL FINANCE BANK',
 'UJJIVAN SMALL FINANCE BANK',
 'AU SMALL FINANCE BANK',
 'NORTH EAST SMALL FINANCE BANK',
 'UTKARSH SMALL FINANCE BANK',
 'JANA SMALL FINANCE BANK']

In [46]:
inter_31 = []
for i in All_Banks_4:
    if i in branch_name_list_cap2:
        inter_31.append(i)
len(inter_31)

96

In [47]:
inter_41 = []
for i in branch_name_list_cap2:
    if i in All_Banks_4:
        inter_41.append(i)
len(inter_41)

98

In [48]:
bank_branch_code2['bank_name'] = bank_branch_code2['bank_name'].str.upper()
bank_branch_code2

      Code                                       bank_name
0     AACX                         AKHAND ANAND CO.OP BANK
1     ABBL                                         AB BANK
2     ABCX   AURANGABAD DISTRICT CENTRAL CO-OPERATIVE BANK
3     ABDX  DR. AMBEDKAR NAGRIK SAHAKARI BANK MYDT GWALIOR
4     ABEX         ANDHRA BANK EMPLOYEES CO-OPERATIVE BANK
...    ...                                             ...
1426  ZSHX                      ZILA SAHKARI BANK HARIDWAR
1427  ZSJX                        ZILA SAHKARI BANK JHANSI
1428  ZSKX                        ZILA SAHKARI BANK KANPUR
1429  ZSLX               ZILA SAHKARI BANK LAKHIMPUR KHERI
1430  ZSMX                        ZILA SAHKARI BANK MEERUT

[1431 rows x 2 columns]

In [49]:
bank_branch_code_filter2 = bank_branch_code2[bank_branch_code2['bank_name'].isin(inter_31)]
bank_branch_code_filter2

      Code                                bank_name
1     ABBL                                  AB BANK
18    ADCB                ABU DHABI COMMERCIAL BANK
44    ALLA                           ALLAHABAD BANK
58    ANDB                              ANDHRA BANK
63    ANZB  AUSTRALIA AND NEW ZEALAND BANKING GROUP
...    ...                                      ...
1338  UTKS               UTKARSH SMALL FINANCE BANK
1363  VIJB                              VIJAYA BANK
1387  VYSA                           ING VYSYA BANK
1397  WPAC              WESTPAC BANKING CORPORATION
1406  YESB                                 YES BANK

[98 rows x 2 columns]

In [50]:
bank_branch_code_filter2 = bank_branch_code_filter2[~bank_branch_code_filter2['Code'].isin(['ABBL', 'BMBL', 'CTBA', 'ESAF', 'FIRX', 'NATA', 'SBBJ', 'SBHY', 'SBLD', 'SBMY', 'SBTR', 'STBP', 'USFB', 'VYSA'])]

In [51]:
banks_to_read2 = bank_branch_code_filter2['Code']
banks_to_read2

18      ADCB
44      ALLA
58      ANDB
63      ANZB
85      AUBL
        ...
1337    UTIB
1338    UTKS
1363    VIJB
1397    WPAC
1406    YESB
Name: Code, Length: 84, dtype: object

In [52]:
sorted(bank_branch_code_filter2['bank_name'].to_list())

['ABU DHABI COMMERCIAL BANK',
 'ALLAHABAD BANK',
 'ANDHRA BANK',
 'AU SMALL FINANCE BANK',
 'AUSTRALIA AND NEW ZEALAND BANKING GROUP',
 'AXIS BANK',
 'BANDHAN BANK',
 'BANK OF AMERICA',
 'BANK OF BAHREIN AND KUWAIT',
 'BANK OF BARODA',
 'BANK OF CEYLON',
 'BANK OF INDIA',
 'BANK OF MAHARASHTRA',
 'BANK OF NOVA SCOTIA',
 'BARCLAYS BANK',
 'BNP PARIBAS BANK',
 'CANARA BANK',
 'CAPITAL SMALL FINANCE BANK',
 'CATHOLIC SYRIAN BANK',
 'CENTRAL BANK OF INDIA',
 'CITI BANK',
 'CITY UNION BANK',
 'CORPORATION BANK',
 'CREDIT AGRICOLE CORPORATE AND INVESTMENT BANK',
 'CREDIT SUISSE AG',
 'DCB BANK',
 'DENA BANK',
 'DEUTSCHE BANK',
 'DHANLAXMI BANK',
 'DOHA BANK QSC',
 'EMIRATES NBD BANK',
 'EQUITAS SMALL FINANCE BANK',
 'ESAF SMALL FINANCE BANK',
 'FEDERAL BANK',
 'FINCARE SMALL FINANCE BANK',
 'FIRSTRAND BANK',
 'HDFC BANK',
 'HONGKONG & SHANGHAI BANKING CORPORATION',
 'ICICI BANK',
 'IDBI',
 'IDFC FIRST BANK',
 'INDIAN BANK',
 'INDIAN OVERSEAS BANK',
 'INDUSIND BANK',
 'INDUSTRIAL AND COMMERCIAL BANK OF CHINA',
 'INDUSTRIAL BANK OF KOREA',
 'JAMMU AND KASHMIR BANK',
 'JANA SMALL FINANCE BANK',
 'JP MORGAN CHASE BANK NA',
 'KARNATAKA BANK',
 'KARUR VYSYA BANK',
 'KEB HANA BANK',
 'KOTAK MAHINDRA BANK',
 'KRUNGTHAI BANK',
 'LAXMI VILAS BANK',
 'MASHREQ BANK',
 'MIZUHO BANK',
 'NORTH EAST SMALL FINANCE BANK',
 'ORIENTAL BANK OF COMMERCE',
 'PT BANK MAYBANK INDONESIA TBK',
 'PUNJAB & SIND BANK',
 'PUNJAB NATIONAL BANK',
 'QATAR NATIONAL BANK SAQ',
 'RBL BANK',
 'SBER BANK',
 'SHINHAN BANK',
 'SOCIETE GENERALE',
 'SOUTH INDIAN BANK',
 'STANDARD CHARTERED BANK',
 'STATE BANK OF INDIA',
 'SUMITOMO MITSUI BANKING CORPORATION',
 'SURYODAY SMALL FINANCE BANK',
 'SYNDICATE BANK',
 'TAMILNADU MERCANTILE BANK',
 'UCO BANK',
 'UJJIVAN SMALL FINANCE BANK',
 'UNION BANK OF INDIA',
 'UNITED BANK OF INDIA',
 'UNITED OVERSEAS BANK',
 'UTKARSH SMALL FINANCE BANK',
 'VIJAYA BANK',
 'WESTPAC BANKING CORPORATION',
 'WOORI BANK',
 'YES BANK']

In [55]:
data_dict2 = {}
for i in banks_to_read2:
    with open(f'Raw Data/by-bank_cov/by-bank 2/{i}.json', 'r') as file:
        data_dict2[i] = json.load(file)

In [56]:
len(data_dict2)

84

In [57]:
for i in banks_to_read2:
    globals()[f'bank_branch2_{i}'] = pd.json_normalize(data_dict2[i].values())

In [58]:
bank_branch2_HDFC

,IFSC,BRANCH,CENTRE,DISTRICT,STATE,ADDRESS,CONTACT,MICR,BANK,UPI,RTGS,CITY,NEFT,IMPS
0,HDFC0000001,TULSIANI CHMBRS - NARIMAN PT,MUMBAI,GREATER MUMBAI,MAHARASHTRA,101-104 TULSIANI CHAMBERSFREE PRESS JOURNAL MA...,9890603333,400240003,HDFC BANK,True,True,MUMBAI,True,True
1,HDFC0000002,MUMBAI - KHAR (WEST),MUMBAI,GREATER MUMBAI,MAHARASHTRA,"SWAGATAM,OPP. KHAR POLICE STATION,S.V.ROAD, KH...",9890603333,400240004,HDFC BANK,True,True,MUMBAI,True,True
2,HDFC0000003,K G MARG,DELHI,NEW DELHI,DELHI,"209 - 214, KAILASH BUILDING, 26, KASTURBA GAND...",61606161,110240001,HDFC BANK,True,True,DELHI,True,True
3,HDFC0000004,CHENNAI - ITC CENTRE - ANNA SALAI,CHENNAI,CHENNAI,TAMIL NADU,"759, ITC CENTREANNA SALAI, OPP T.V.S.CHENNAITA...",9840673333,600240002,HDFC BANK,True,True,CHENNAI,True,True
4,HDFC0000005,BHULABHAI DESAI ROAD,MUMBAI,GREATER MUMBAI,MAHARASHTRA,HDFC BANK LTD 36 VALLABH APTS 87 BHULABHAI DES...,61606161,400240005,HDFC BANK,True,True,MUMBAI,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6740,HDFC0CYACBP,Yashwant Co-operative Bank IMPS,KARAD,SATARA,MAHARASHTRA,"69,GURUWAR PETH,CHAWDI CHOWK,KARAD 415110",9422745818,415814352,Yashwant Co-operative Bank,True,True,KARAD,True,True
6741,HDFC0CYDCBL,YOUTH DEVELOPMENT COOP BANK LTD.KOL,KOLHAPUR,KOLHAPUR,MAHARASHTRA,"""POORNIMA"" F-2, FIRST FLOOR, 1429/G, NEAR SAMB...",2550120,416393015,HDFC BANK,True,True,KOLHAPUR,True,True
6742,HDFC0CYMCBK,Yeola mer co o pbank ltd,YEOLA,NASIK,MAHARASHTRA,Yashodhan Balaji Galli Yeola Dist Nasik,02559265047,423853352,HDFC BANK,True,True,YEOLA,True,True
6743,HDFC0CYMSB1,Yavatmal Mahila Sahakari Bank IMPS,YAVATMAL,YAVATMAL,MAHARASHTRA,"Annapurna, Mainde Chowk, Sankat Mochan Road Ya...",07232250661,445814002,Yavatmal Mahila Sahakari Bank,True,True,YAVATMAL,True,True
6744,HDFC0CYNSBL,Yeshwant Nagari Sahakari Bank IMPS,LATUR,LATUR,MAHARASHTRA,USHA KIRAN COMPLEX BARSHI ROAD LATUR,02382222144,413814052,Yeshwant Nagari Sahakari Bank,True,True,LATUR,True,True

In [59]:
branch_all2 = pd.concat([globals()[f'bank_branch2_{i}'] for i in banks_to_read2], ignore_index=True)
branch_all2['foreign_dummy'] = branch_all2['BANK'].isin(Foreign_Banks_3).astype(int)
branch_all2['private_dummy'] = branch_all2['BANK'].isin(Private_Banks_3).astype(int)
branch_all2['public_dummy'] = branch_all2['BANK'].isin(Public_Banks_3).astype(int)
branch_all2['small_finance_dummy'] = branch_all2['BANK'].isin(Small_Finance_3).astype(int)

In [60]:
branch_all2

,BANK,IFSC,BRANCH,CENTRE,DISTRICT,STATE,ADDRESS,CONTACT,IMPS,CITY,UPI,RTGS,NEFT,MICR,foreign_dummy,private_dummy,public_dummy,small_finance_dummy
0,Abu Dhabi Commercial Bank,ADCB0000001,Abu Dhabi Commercial Bank IMPS,MUMBAI,GREATER BOMBAY,MAHARASHTRA,"75 Rehmat Manzil, Veer Nariman Road, Churchgat...",39534100,True,MUMBAI,False,True,True,None,0,0,0,0
1,ABU DHABI COMMERCIAL BANK,ADCB0000002,BANGALORE,NA,BANGALORE,KARNATAKA,"CITI CENTRE, 28, CHURCH STREET, OFF M. G. ROAD...",25582000,True,BANGALORE URBAN,False,False,True,None,1,0,0,0
2,ALLAHABAD BANK,ALLA0210001,Guwahati Main Branch,GUWAHATI,KAMRUP METROPOLITAN,ASSAM,"H. B. Road,Machkhowa, Opp. Of ASTC Bus Stand M...",2545218,True,GUWAHATI,True,True,True,None,0,0,1,0
3,ALLAHABAD BANK,ALLA0210002,PATNA UNIVERSITY,PATNA,PATNA,BIHAR,"PATNA UNIVERSITY.GANESH ROAD,DIST-PATNA",2671644,True,PATNA,True,True,True,None,0,0,1,0
4,ALLAHABAD BANK,ALLA0210003,PATNA MAIN,PATNA,PATNA,BIHAR,"BUDH MARG,DIST-PATNA,PIN-800001",2235237,True,PATNA,True,True,True,None,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138639,YES BANK,YESB0ZSBL20,ZILA SAHKARI BANK LUCKNOW ICCMRT EC,LUCKNOW,LUCKNOW,UTTAR PRADESH,"21/467, INDIRA NAGAR, LUCKNOW - 226016",8756400236,True,LUCKNOW,True,True,True,226185254,0,1,0,0
138640,YES BANK,YESB0ZSBL21,ZILA SAHKARI BANK LUCKNOW PARAGDARY,LUCKNOW,LUCKNOW,UTTAR PRADESH,"JOPPLING ROAD, LUCKNOW - 226001",8756400237,True,LUCKNOW,True,True,True,226185258,0,1,0,0
138641,YES BANK,YESB0ZSBL22,ZILA SAHKARI BANK LUCKNOW ARJUNGANJ,ARJUNGANJ,LUCKNOW,UTTAR PRADESH,"AHMAMAU, ARJUNGANJ, LUCKNOW - 226002",8756400239,True,ARJUNGANJ,True,True,True,226185252,0,1,0,0
138642,YES BANK,YESB0ZSBL23,ZILA SAHKARI BANK LUCKNOW CHANDRNGR,LUCKNOW,LUCKNOW,UTTAR PRADESH,"H NO 551 KA/180 KHA,ST BANK RD, BHILLAWAN,CHAN...",8756400238,True,LUCKNOW,True,True,True,226185257,0,1,0,0
138643,YES BANK,YESB0ZSBL99,ZILA SAHKARI BANK LUCKNOW H O,LUCKNOW,LUCKNOW,UTTAR PRADESH,"26, JAGDISH BUILDING, HAZRATGANJ, LUCKNOW - 22...",08756400240,True,LUCKNOW,True,True,True,226185252,0,1,0,0

In [ ]:
# #Uncomment to write to csv
# branch_all2.to_csv(f'Clean Data/branch_all_cov.csv')

In [62]:
def clean_state(df, x):
    if x == "agri":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,38,39])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([4])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3
    elif x == "bank":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,38,39,40])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([4])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3
    elif x == "const":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,4,39,40])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([5])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3
    elif x == "ind":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,4,39,40])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([5])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3
    elif x == "manu":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,4,39,40,41])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([5])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3
    elif x == "serv":
        df_1 = df.iloc[~df.index.isin([0,1,2,3,4,39,40,41])]
        df_1.pop('Unnamed: 0')
        new_columns = [f"{df_1.iloc[0, i]}" for i in range(0,df_1.shape[1])]
        df_1.columns = new_columns
        col = df_1.columns
        col_2 = col[1:]
        col_3 = list(col_2)
        col_3.insert(0, 'state')
        df_1.columns = col_3
        df_2 = df_1.iloc[~df_1.index.isin([5])]
        df_2 = df_2.loc[:, ['state', '2014-15']]
        df_2.columns = ['state' , '2014-15_04', '2014-15_11']
        df_3 = df_2.loc[:, ['state', '2014-15_11']]
        df_3 = df_3.rename(columns={'2014-15_11':x})
        df_3[x] = df_3[x].replace('-', np.nan)
        df_3['state'] = df_3['state'].str.upper()
        return df_3

In [65]:
state_agri = clean_state(pd.read_excel('Raw Data/state_data/state_agri.XLSX'), "agri")
state_banking = clean_state(pd.read_excel('Raw Data/state_data/state_banking.XLSX'), "bank")
state_construction = clean_state(pd.read_excel('Raw Data/state_data/state_construction.XLSX'), "const")
state_industry = clean_state(pd.read_excel('Raw Data/state_data/state_industry.XLSX'), "ind")
state_manufacturing = clean_state(pd.read_excel('Raw Data/state_data/state_manufacturing.XLSX'), "manu")
state_services = clean_state(pd.read_excel('Raw Data/state_data/state_services.XLSX'), "serv")

In [66]:
state_vars = pd.merge(state_agri, state_banking, on = "state").merge(state_construction, on = "state").merge(state_industry, on = "state").merge(state_manufacturing, on = "state").merge(state_services, on = "state")

In [ ]:
# #Uncomment to write to csv
# state_vars.to_csv('Clean Data/state_vars.csv')